Repository PackRat-AI/PackRat, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, test, backend, AnyChange, client, expo, next, vite, api

chore: add db migrations workflow
  .github/workflows/v2-migrations.yml
Labels: AnyChange

get pack-templates working
  server/drizzle/0010_serious_odin.sql
  server/drizzle/meta/0010_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema.ts
  server/src/routes/packTemplates/index.ts
  server/src/routes/packTemplates/packTemplateItems.ts
  server/src/routes/packTemplates/packTemplateList.ts
  server/src/routes/packTemplates/packTemplates.ts
Labels: backend, AnyChange, api

revert reported content export
  server/src/db/schema.ts
Labels: backend, AnyChange, api

feat(auth): include role claim in token payload
  server/src/db/schema.ts
  server/src/routes/auth/index.ts
  server/src/routes/chat.ts
  server/src/utils/api-middleware.ts
Labels: backend, AnyChange, api

fix(packTemplates): use dynamic update
  server/src/routes/packTemplates/packTemplates.ts
Labels: backend, AnyChange, api

feat(packTemplates): add app templates with proper access control
  server/drizzle/0011_bizarre_dormammu.sql
  server/drizzle/meta/0011_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema.ts
  server/src/routes/index.ts
  server/src/routes/packTemplates/index.ts
  server/src/routes/packTemplates/packTemplateItems.ts
  server/src/routes/packTemplates/packTemplateList.ts
  server/src/routes/packTemplates/packTemplates.ts
Labels: backend, AnyChange, api

refactor(auth): use openapi for delete account route
  server/src/routes/auth/index.ts
Labels: backend, AnyChange, api

feat(auth): add Google auth and update JWT expiration
  server/package.json
  server/src/routes/auth/index.ts
  server/src/types/env.ts
  server/src/utils/auth.ts
  server/wrangler.toml
Labels: backend, AnyChange, api

chore: bun.lock
  bun.lock
Labels: root, AnyChange

⚡️ add embedding service
  server/src/services/embeddingService.ts
Labels: backend, AnyChange, api

⚡️ add pg vector extension
  server/drizzle/0010_great_colleen_wing.sql
  server/drizzle/meta/0010_snapshot.json
  server/drizzle/meta/_journal.json
Labels: AnyChange, api

🎨 command
  package.json
Labels: root, AnyChange

🎨 update migrations
  .github/workflows/v2-migrations.yml
  bun.lock
  package.json
Labels: root, AnyChange

⚡️ initialize biome
  biome.json
  bun.lock
  package.json
Labels: root, AnyChange

🏷️ fix type errors
  apps/landing/app/layout.tsx
  apps/landing/components/ui/breadcrumb.tsx
  apps/landing/components/ui/button.tsx
  apps/landing/components/ui/input-otp.tsx
  apps/landing/components/ui/sidebar.tsx
  apps/landing/components/ui/toaster.tsx
  apps/landing/tsconfig.json
Labels: AnyChange, client

⚡️ add embedding logic for items
  bun.lock
  server/src/db/schema.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/packs/items.ts
  server/src/utils/embeddingHelper.ts
Labels: root, backend, AnyChange, api

⚡️ setting up new etl queue
  package.json
  packages/api/src/index.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/queue.ts
  packages/api/src/services/queue.ts
  packages/api/src/types/env.ts
  packages/api/wrangler.toml
Labels: root, AnyChange

⚡️ specify buckets since we now have multiple
  packages/api/src/routes/packs/items.ts
  packages/api/src/routes/upload.ts
  packages/api/src/types/env.ts
  packages/api/test/setup.ts
  packages/api/vitest.config.ts
  packages/api/wrangler.toml
Labels: AnyChange

♻️ refactor to etl router
  packages/api/src/routes/catalog/etl.ts
  packages/api/src/routes/catalog/index.ts
  packages/api/src/routes/index.ts
Labels: AnyChange

🎨 cleanup
  packages/api/src/routes/catalog/etl.ts
Labels: AnyChange

🗃️ add unique constraint on sku
  packages/api/drizzle/0010_flashy_human_robot.sql
  packages/api/drizzle/meta/0010_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/migrate.ts
Labels: AnyChange

⚡️ add special bucket names for the multiple but keep same keys
  packages/api/wrangler.toml
Labels: AnyChange

⚡️ unique constraint on sku
  packages/api/src/db/schema.ts
Labels: AnyChange

⚡️ api token access
  packages/api/src/middleware/auth.ts
Labels: AnyChange

⚡️ non context dependent db
  packages/api/src/db/index.ts
Labels: AnyChange

⚡️ new bucket naming logic
  packages/api/src/routes/catalog/etl.ts
  packages/api/src/routes/upload.ts
  packages/api/src/types/env.ts
Labels: AnyChange

♻️ refactor queue to have read and write jobs for better perf
  packages/api/src/services/queue.ts
Labels: AnyChange

⚡️ improve mapping to catch edge cases
  packages/api/src/services/queue.ts
Labels: AnyChange

⚡️ add api catalog search
  packages/api/src/routes/catalog/list.ts
Labels: AnyChange

chore: integrate Sentry for error tracking
  bun.lock
  package.json
  server/package.json
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/auth/index.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/chat.ts
  server/src/routes/packTemplates/packTemplateItems.ts
  server/src/routes/packTemplates/packTemplates.ts
  server/src/routes/packs/items.ts
  server/src/routes/packs/list.ts
  server/src/routes/upload.ts
  server/src/routes/user/items.ts
  server/src/routes/weather.ts
  server/src/services/getWeatherData.ts
  server/src/types/env.ts
  server/src/types/variables.ts
  server/src/utils/email.ts
  server/wrangler.toml
Labels: root, backend, AnyChange, api

add similarity search
  server/drizzle/0012_silly_namorita.sql
  server/drizzle/meta/0012_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/index.ts
  server/src/routes/search.ts
  server/src/utils/vector.ts
Labels: backend, AnyChange, api

🔀 merge branches
  bun.lock
  package.json
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
Labels: root, AnyChange

🗃️ generate db migrations
  packages/api/drizzle/0012_loose_betty_brant.sql
  packages/api/drizzle/meta/0012_snapshot.json
  packages/api/drizzle/meta/_journal.json
Labels: AnyChange

🔀 schema changes
  packages/api/src/db/schema.ts
  server/src/db/schema.ts
Labels: backend, AnyChange, api

🔀 merge server files
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/packTemplates/index.ts
  packages/api/src/routes/packTemplates/packTemplateItems.ts
  packages/api/src/routes/packTemplates/packTemplates.ts
  packages/api/src/routes/packs/items.ts
  server/src/middleware/auth.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/packs/items.ts
Labels: backend, AnyChange, api

🔀 merge conflicts
  packages/api/src/index.ts
  packages/api/src/routes/auth/index.ts
  packages/api/src/routes/catalog/etl.ts
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/packTemplates/packTemplateItems.ts
  packages/api/src/routes/packTemplates/packTemplates.ts
  packages/api/src/routes/packs/items.ts
  packages/api/src/routes/upload.ts
  packages/api/src/services/queue.ts
  packages/api/src/utils/api-middleware.ts
Labels: AnyChange

🔀 merge conflicts
  packages/api/src/routes/auth/index.ts
Labels: AnyChange

⚡️ add biome
  biome.json
  bun.lock
  package.json
Labels: root, AnyChange

rebase develop
  packages/api/drizzle/0012_silly_namorita.sql
  packages/api/drizzle/0013_silly_namorita.sql
  packages/api/drizzle/meta/0012_snapshot.json
  packages/api/drizzle/meta/0013_snapshot.json
  packages/api/drizzle/meta/_journal.json
  server/.wrangler/tmp/bundle-F6RLhA/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-F6RLhA/middleware-loader.entry.ts
  server/.wrangler/tmp/bundle-xpwYtH/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-xpwYtH/middleware-loader.entry.ts
  server/.wrangler/tmp/dev-EEDzZr/index.js
  server/.wrangler/tmp/dev-JTrQVY/index.js
Labels: backend, AnyChange, api

fix after rebase
  packages/api/drizzle/0013_mute_rhodey.sql
  packages/api/drizzle/0013_silly_namorita.sql
  packages/api/drizzle/meta/0013_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/src/db/schema.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/search.ts
Labels: AnyChange

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

## Equivalent of the above mentioned configuration using another syntax
docs:
- changed-files:
  - any-glob-to-any-file: ['docs/*', 'guides/*', '**/*.md']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# Add 'test' label to any change to *.spec.ts, *.spec.js, *.test.ts, *.test.js files within the entire repository
test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.spec.ts'
    - '**/*.spec.js'
    - '**/*.test.ts'
    - '**/*.test.js'
    - '**/tests/**/*.ts'
    - '**/tests/**/*.js'

# Add 'frontend' label to any change in the 'client' directory
frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/**/*.{ts,js}'
    - any: 'apps/**/*.ts'
    - any: 'apps/**/*.js'
  - all-globs-to-all-files:
    - '!apps/src/main.ts'
    - '!apps/src/main.js'

# Add 'backend' label to any change in the 'server' directory
backend:
- changed-files:
  - any-glob-to-any-file: 'server/**/*.{ts,js}'

# Add the 'AnyChange' label to any changes within the entire repository
AnyChange:
- changed-files:
  - any-glob-to-any-file: '**'

# Add 'client' label to any change in the 'apps' directory
client:
- changed-files:
  - any-glob-to-any-file: 'apps/**/*'

# Add 'expo' label to any changes in the 'apps/expo' directory
expo:
- changed-files:
  - any-glob-to-any-file: 'apps/expo/**/*'

# Add 'next' label to any changes in the 'apps/next' directory
next:
- changed-files:
  - any-glob-to-any-file: 'apps/next/**/*'

# Add 'vite' label to any changes in the 'apps/vite' directory
vite:
- changed-files:
  - any-glob-to-any-file: 'apps/vite/**/*'

# Add 'api' label to any changes in the 'api' or 'server' directories
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - 'server/**/*'
