Repository PackRat-AI/PackRat, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, test, frontend, backend, AnyChange, client, expo, next, vite, api, github

chore: add db migrations workflow
  .github/workflows/v2-migrations.yml
Labels: github

get pack-templates working
  server/drizzle/0010_serious_odin.sql
  server/drizzle/meta/0010_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema.ts
  server/src/routes/packTemplates/index.ts
  server/src/routes/packTemplates/packTemplateItems.ts
  server/src/routes/packTemplates/packTemplateList.ts
  server/src/routes/packTemplates/packTemplates.ts
Labels: backend, api

revert reported content export
  server/src/db/schema.ts
Labels: backend, api

feat(auth): include role claim in token payload
  server/src/db/schema.ts
  server/src/routes/auth/index.ts
  server/src/routes/chat.ts
  server/src/utils/api-middleware.ts
Labels: backend, api

fix(packTemplates): use dynamic update
  server/src/routes/packTemplates/packTemplates.ts
Labels: backend, api

feat(packTemplates): add app templates with proper access control
  server/drizzle/0011_bizarre_dormammu.sql
  server/drizzle/meta/0011_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema.ts
  server/src/routes/index.ts
  server/src/routes/packTemplates/index.ts
  server/src/routes/packTemplates/packTemplateItems.ts
  server/src/routes/packTemplates/packTemplateList.ts
  server/src/routes/packTemplates/packTemplates.ts
Labels: backend, api

refactor(auth): use openapi for delete account route
  server/src/routes/auth/index.ts
Labels: backend, api

feat(auth): add Google auth and update JWT expiration
  server/package.json
  server/src/routes/auth/index.ts
  server/src/types/env.ts
  server/src/utils/auth.ts
  server/wrangler.toml
Labels: backend, api

chore: bun.lock
  bun.lock
Labels: root, AnyChange

⚡️ add embedding service
  server/src/services/embeddingService.ts
Labels: backend, api

⚡️ add pg vector extension
  server/drizzle/0010_great_colleen_wing.sql
  server/drizzle/meta/0010_snapshot.json
  server/drizzle/meta/_journal.json
Labels: api

🎨 command
  package.json
Labels: root, AnyChange

🎨 update migrations
  .github/workflows/v2-migrations.yml
  bun.lock
  package.json
Labels: root, AnyChange, github

⚡️ initialize biome
  biome.json
  bun.lock
  package.json
Labels: root, AnyChange

🏷️ fix type errors
  apps/landing/app/layout.tsx
  apps/landing/components/ui/breadcrumb.tsx
  apps/landing/components/ui/button.tsx
  apps/landing/components/ui/input-otp.tsx
  apps/landing/components/ui/sidebar.tsx
  apps/landing/components/ui/toaster.tsx
  apps/landing/tsconfig.json
Labels: client

⚡️ add embedding logic for items
  bun.lock
  server/src/db/schema.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/packs/items.ts
  server/src/utils/embeddingHelper.ts
Labels: root, backend, AnyChange, api

⚡️ setting up new etl queue
  package.json
  packages/api/src/index.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/queue.ts
  packages/api/src/services/queue.ts
  packages/api/src/types/env.ts
  packages/api/wrangler.toml
Labels: root, AnyChange

⚡️ specify buckets since we now have multiple
  packages/api/src/routes/packs/items.ts
  packages/api/src/routes/upload.ts
  packages/api/src/types/env.ts
  packages/api/test/setup.ts
  packages/api/vitest.config.ts
  packages/api/wrangler.toml
Labels: none

♻️ refactor to etl router
  packages/api/src/routes/catalog/etl.ts
  packages/api/src/routes/catalog/index.ts
  packages/api/src/routes/index.ts
Labels: none

🎨 cleanup
  packages/api/src/routes/catalog/etl.ts
Labels: none

🗃️ add unique constraint on sku
  packages/api/drizzle/0010_flashy_human_robot.sql
  packages/api/drizzle/meta/0010_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/migrate.ts
Labels: none

⚡️ add special bucket names for the multiple but keep same keys
  packages/api/wrangler.toml
Labels: none

⚡️ unique constraint on sku
  packages/api/src/db/schema.ts
Labels: none

⚡️ api token access
  packages/api/src/middleware/auth.ts
Labels: none

⚡️ non context dependent db
  packages/api/src/db/index.ts
Labels: none

⚡️ new bucket naming logic
  packages/api/src/routes/catalog/etl.ts
  packages/api/src/routes/upload.ts
  packages/api/src/types/env.ts
Labels: none

♻️ refactor queue to have read and write jobs for better perf
  packages/api/src/services/queue.ts
Labels: none

⚡️ improve mapping to catch edge cases
  packages/api/src/services/queue.ts
Labels: none

⚡️ add api catalog search
  packages/api/src/routes/catalog/list.ts
Labels: none

chore: integrate Sentry for error tracking
  bun.lock
  package.json
  server/package.json
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/auth/index.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/chat.ts
  server/src/routes/packTemplates/packTemplateItems.ts
  server/src/routes/packTemplates/packTemplates.ts
  server/src/routes/packs/items.ts
  server/src/routes/packs/list.ts
  server/src/routes/upload.ts
  server/src/routes/user/items.ts
  server/src/routes/weather.ts
  server/src/services/getWeatherData.ts
  server/src/types/env.ts
  server/src/types/variables.ts
  server/src/utils/email.ts
  server/wrangler.toml
Labels: root, backend, AnyChange, api

add similarity search
  server/drizzle/0012_silly_namorita.sql
  server/drizzle/meta/0012_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/db/schema.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/index.ts
  server/src/routes/search.ts
  server/src/utils/vector.ts
Labels: backend, api

🔀 merge branches
  bun.lock
  package.json
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
Labels: root, AnyChange

🗃️ generate db migrations
  packages/api/drizzle/0012_loose_betty_brant.sql
  packages/api/drizzle/meta/0012_snapshot.json
  packages/api/drizzle/meta/_journal.json
Labels: none

🔀 schema changes
  packages/api/src/db/schema.ts
  server/src/db/schema.ts
Labels: backend, api

🔀 merge server files
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/packTemplates/index.ts
  packages/api/src/routes/packTemplates/packTemplateItems.ts
  packages/api/src/routes/packTemplates/packTemplates.ts
  packages/api/src/routes/packs/items.ts
  server/src/middleware/auth.ts
  server/src/routes/catalog/id.ts
  server/src/routes/catalog/list.ts
  server/src/routes/packs/items.ts
Labels: backend, api

🔀 merge conflicts
  packages/api/src/index.ts
  packages/api/src/routes/auth/index.ts
  packages/api/src/routes/catalog/etl.ts
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/packTemplates/packTemplateItems.ts
  packages/api/src/routes/packTemplates/packTemplates.ts
  packages/api/src/routes/packs/items.ts
  packages/api/src/routes/upload.ts
  packages/api/src/services/queue.ts
  packages/api/src/utils/api-middleware.ts
Labels: none

🔀 merge conflicts
  packages/api/src/routes/auth/index.ts
Labels: none

⚡️ add biome
  biome.json
  bun.lock
  package.json
Labels: root, AnyChange

rebase develop
  packages/api/drizzle/0012_silly_namorita.sql
  packages/api/drizzle/0013_silly_namorita.sql
  packages/api/drizzle/meta/0012_snapshot.json
  packages/api/drizzle/meta/0013_snapshot.json
  packages/api/drizzle/meta/_journal.json
  server/.wrangler/tmp/bundle-F6RLhA/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-F6RLhA/middleware-loader.entry.ts
  server/.wrangler/tmp/bundle-xpwYtH/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-xpwYtH/middleware-loader.entry.ts
  server/.wrangler/tmp/dev-EEDzZr/index.js
  server/.wrangler/tmp/dev-JTrQVY/index.js
Labels: backend, api

fix after rebase
  packages/api/drizzle/0013_mute_rhodey.sql
  packages/api/drizzle/0013_silly_namorita.sql
  packages/api/drizzle/meta/0013_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/src/db/schema.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/search.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
    - any-glob-to-any-file: '*'

docs:
  - changed-files:
    - any-glob-to-any-file: '{docs/**/*,guides/**/*,**/*.md}'

feature:
  - head-branch: ['^feature', 'feature']

release:
  - base-branch: 'main'

test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - '**/*.spec.js'
      - '**/*.test.ts'
      - '**/*.test.js'
      - '**/tests/**/*.ts'
      - '**/tests/**/*.js'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/**/*.{ts,js, jsx, tsx}'

backend:
  - changed-files:
    - any-glob-to-any-file: 'server/**/*.{ts,js}'

AnyChange:
  - changed-files:
    - any-glob-to-any-file: '*'

client:
  - changed-files:
    - any-glob-to-any-file: 'apps/**/*'

expo:
  - changed-files:
    - any-glob-to-any-file: 'apps/expo/**/*'

next:
  - changed-files:
    - any-glob-to-any-file: 'apps/next/**/*'

vite:
  - changed-files:
    - any-glob-to-any-file: 'apps/vite/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'api/**/*'
      - 'server/**/*'

github:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
