Repository PackRat-AI/PackRat, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, test, backend, AnyChange, client, expo, next, vite, api

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

## Equivalent of the above mentioned configuration using another syntax
docs:
- changed-files:
  - any-glob-to-any-file: ['docs/*', 'guides/*', '**/*.md']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# Add 'test' label to any change to *.spec.ts, *.spec.js, *.test.ts, *.test.js files within the entire repository
test:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.spec.ts'
    - '**/*.spec.js'
    - '**/*.test.ts'
    - '**/*.test.js'
    - '**/tests/**/*.ts'
    - '**/tests/**/*.js'

# Add 'frontend' label to any change in the 'client' directory
frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'apps/**/*.{ts,js}'
    - any: 'apps/**/*.ts'
    - any: 'apps/**/*.js'
  - all-globs-to-all-files:
    - '!apps/src/main.ts'
    - '!apps/src/main.js'

# Add 'backend' label to any change in the 'server' directory
backend:
- changed-files:
  - any-glob-to-any-file: 'server/**/*.{ts,js}'

# Add the 'AnyChange' label to any changes within the entire repository
AnyChange:
- changed-files:
  - any-glob-to-any-file: '**'

# Add 'client' label to any change in the 'apps' directory
client:
- changed-files:
  - any-glob-to-any-file: 'apps/**/*'

# Add 'expo' label to any changes in the 'apps/expo' directory
expo:
- changed-files:
  - any-glob-to-any-file: 'apps/expo/**/*'

# Add 'next' label to any changes in the 'apps/next' directory
next:
- changed-files:
  - any-glob-to-any-file: 'apps/next/**/*'

# Add 'vite' label to any changes in the 'apps/vite' directory
vite:
- changed-files:
  - any-glob-to-any-file: 'apps/vite/**/*'

# Add 'api' label to any changes in the 'api' or 'server' directories
api:
- changed-files:
  - any-glob-to-any-file:
    - 'api/**/*'
    - 'server/**/*'

remove server files
  server/.wrangler/tmp/bundle-F6RLhA/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-F6RLhA/middleware-loader.entry.ts
  server/.wrangler/tmp/bundle-xpwYtH/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-xpwYtH/middleware-loader.entry.ts
  server/.wrangler/tmp/dev-EEDzZr/index.js
  server/.wrangler/tmp/dev-JTrQVY/index.js
Labels: backend, AnyChange, api

Lint
  packages/api/drizzle/meta/0013_snapshot.json
  packages/api/src/db/schema.ts
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/search.ts
  packages/api/src/utils/vector.ts
Labels: AnyChange

📌 fix deps across repo
  apps/expo/package.json
  apps/guides/package.json
  apps/landing/package.json
  bun.lock
Labels: root, AnyChange, client, expo

🏷️ fix type errors
  apps/landing/app/error.tsx
  apps/landing/app/not-found.tsx
  apps/landing/components/sections/landing-hero.tsx
  bun.lock
Labels: root, AnyChange, client

⬆️ bump deps
  apps/landing/package.json
Labels: AnyChange, client

📌 ping deps to same versions
  apps/guides/lib/content.ts
  apps/guides/package.json
  apps/landing/package.json
  bun.lock
Labels: root, AnyChange, client

👷 fix build issues
  apps/guides/app/error.tsx
  apps/guides/app/not-found.tsx
Labels: AnyChange, client

refactor(api): remove duplicate embedding util
  packages/api/src/utils/vector.ts
Labels: AnyChange

fix(api:items-route): add missing generateEmbedding import
  packages/api/src/routes/packs/items.ts
Labels: AnyChange

refactor(items): pass route errors for sentry
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/packs/items.ts
Labels: AnyChange

⬆️ bump wrangler
  bun.lock
  packages/api/package.json
Labels: root, AnyChange

add route to get all packs
  packages/api/src/routes/packs/list.ts
Labels: AnyChange

make shared helper function
  packages/api/src/routes/packs/list.ts
Labels: AnyChange

feat(api:chat): add pack, pack item and weather details tool calls
  packages/api/src/routes/chat.ts
  packages/api/src/services/index.ts
  packages/api/src/services/packItemService.ts
  packages/api/src/services/packService.ts
  packages/api/src/services/weatherService.ts
  packages/api/src/utils/ai/tools.ts
Labels: AnyChange

refactor(api:search): remove try-catch block to allow exception capturing by sentry middleware
  packages/api/src/routes/search.ts
Labels: AnyChange

feat(api:ai): add semanticCatalogSearch tool
  packages/api/src/services/catalogService.ts
  packages/api/src/services/index.ts
  packages/api/src/utils/ai/tools.ts
Labels: AnyChange

feat(api:ai): enhance catalog semanticSearch with pagination support
  packages/api/src/services/catalogService.ts
  packages/api/src/utils/ai/tools.ts
Labels: AnyChange

feat(api:ai): add catalog items retrieval tool with search, filtering and pagination
  packages/api/src/services/catalogService.ts
  packages/api/src/utils/ai/tools.ts
Labels: AnyChange

feat(api:ai): add outdoor guides RAG tool
  packages/api/src/services/aiService.ts
  packages/api/src/services/index.ts
  packages/api/src/types/env.ts
  packages/api/src/utils/ai/tools.ts
  packages/api/wrangler.toml
Labels: AnyChange

add embedding based item suggestions
  packages/api/src/routes/packs/pack.ts
Labels: AnyChange

♻️ refactor wrangler toml to jsonc
  packages/api/wrangler.jsonc
  packages/api/wrangler.toml
Labels: AnyChange

🔨 add development scripts
  .github/scripts/clean.ts
  .github/scripts/env.ts
  bun.lock
  package.json
Labels: root, AnyChange

➕ add manypkg
  bun.lock
  package.json
Labels: root, AnyChange

🎨 lint
  .github/scripts/clean.ts
  .github/scripts/env.ts
  apps/guides/app/error.tsx
  apps/guides/app/not-found.tsx
  apps/guides/lib/content.ts
  apps/landing/app/error.tsx
  apps/landing/app/not-found.tsx
  packages/api/src/routes/packs/items.ts
  packages/api/wrangler.jsonc
Labels: AnyChange, client

➕ add left hook
  bun.lock
  package.json
Labels: root, AnyChange

⚡️ create lefthook file
  lefthook.yml
Labels: root, AnyChange

♻️ move to pre push
  lefthook.yml
Labels: root, AnyChange

📝 add readme from v1
  README.md
Labels: root, docs, AnyChange

📝 add lefthook to the docs
  README.md
Labels: root, docs, AnyChange

📝 update readme for v2
  README.md
Labels: root, docs, AnyChange

🔨 improve env generation
  .github/scripts/env.ts
  package.json
Labels: root, AnyChange

🎉 initial set up for basic admin app with hono
  bun.lock
  packages/api/package.json
  packages/api/src/global.d.ts
  packages/api/src/routes/admin/index.ts
  packages/api/src/routes/index.ts
  packages/api/src/types/env.ts
Labels: root, AnyChange

🎨 lint
  packages/api/src/routes/admin/index.ts
Labels: AnyChange

get items from public packs
  packages/api/src/routes/packs/items.ts
  packages/api/src/routes/packs/pack.ts
Labels: AnyChange

fix unique sku constraint
  packages/api/drizzle/0014_free_mindworm.sql
  packages/api/drizzle/meta/0014_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/src/db/schema.ts
Labels: AnyChange

refactor(api:ai): enhance error logging
  packages/api/src/routes/chat.ts
  packages/api/src/utils/ai/tools.ts
Labels: AnyChange

refactor(api:ai): cleanup unneeded db util functions
  packages/api/src/utils/DbUtils.ts
Labels: AnyChange

refactor(api:ai): simplify URL construction in filenameToUrl method
  packages/api/src/services/aiService.ts
Labels: AnyChange

🗃️ fix db migrations
  packages/api/drizzle/0012_loose_betty_brant.sql
  packages/api/drizzle/0013_mute_rhodey.sql
Labels: AnyChange

🎨 lint
  packages/api/drizzle/meta/0014_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/src/db/schema.ts
  packages/api/src/routes/chat.ts
  packages/api/src/services/aiService.ts
  packages/api/src/services/catalogService.ts
  packages/api/src/services/packItemService.ts
  packages/api/src/services/packService.ts
  packages/api/src/services/weatherService.ts
  packages/api/src/utils/ai/tools.ts
Labels: AnyChange
