Repository PackRat-AI/PackRat, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, test, frontend, backend, AnyChange, client, expo, next, vite, api, github

remove server files
  server/.wrangler/tmp/bundle-F6RLhA/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-F6RLhA/middleware-loader.entry.ts
  server/.wrangler/tmp/bundle-xpwYtH/middleware-insertion-facade.js
  server/.wrangler/tmp/bundle-xpwYtH/middleware-loader.entry.ts
  server/.wrangler/tmp/dev-EEDzZr/index.js
  server/.wrangler/tmp/dev-JTrQVY/index.js
Labels: backend, api

Lint
  packages/api/drizzle/meta/0013_snapshot.json
  packages/api/src/db/schema.ts
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/search.ts
  packages/api/src/utils/vector.ts
Labels: none

📌 fix deps across repo
  apps/expo/package.json
  apps/guides/package.json
  apps/landing/package.json
  bun.lock
Labels: root, AnyChange, client, expo

🏷️ fix type errors
  apps/landing/app/error.tsx
  apps/landing/app/not-found.tsx
  apps/landing/components/sections/landing-hero.tsx
  bun.lock
Labels: root, AnyChange, client

⬆️ bump deps
  apps/landing/package.json
Labels: client

📌 ping deps to same versions
  apps/guides/lib/content.ts
  apps/guides/package.json
  apps/landing/package.json
  bun.lock
Labels: root, frontend, AnyChange, client

👷 fix build issues
  apps/guides/app/error.tsx
  apps/guides/app/not-found.tsx
Labels: client

refactor(api): remove duplicate embedding util
  packages/api/src/utils/vector.ts
Labels: none

fix(api:items-route): add missing generateEmbedding import
  packages/api/src/routes/packs/items.ts
Labels: none

refactor(items): pass route errors for sentry
  packages/api/src/routes/catalog/id.ts
  packages/api/src/routes/catalog/list.ts
  packages/api/src/routes/packs/items.ts
Labels: none

⬆️ bump wrangler
  bun.lock
  packages/api/package.json
Labels: root, AnyChange

add route to get all packs
  packages/api/src/routes/packs/list.ts
Labels: none

make shared helper function
  packages/api/src/routes/packs/list.ts
Labels: none

feat(api:chat): add pack, pack item and weather details tool calls
  packages/api/src/routes/chat.ts
  packages/api/src/services/index.ts
  packages/api/src/services/packItemService.ts
  packages/api/src/services/packService.ts
  packages/api/src/services/weatherService.ts
  packages/api/src/utils/ai/tools.ts
Labels: none

refactor(api:search): remove try-catch block to allow exception capturing by sentry middleware
  packages/api/src/routes/search.ts
Labels: none

feat(api:ai): add semanticCatalogSearch tool
  packages/api/src/services/catalogService.ts
  packages/api/src/services/index.ts
  packages/api/src/utils/ai/tools.ts
Labels: none

feat(api:ai): enhance catalog semanticSearch with pagination support
  packages/api/src/services/catalogService.ts
  packages/api/src/utils/ai/tools.ts
Labels: none

feat(api:ai): add catalog items retrieval tool with search, filtering and pagination
  packages/api/src/services/catalogService.ts
  packages/api/src/utils/ai/tools.ts
Labels: none

feat(api:ai): add outdoor guides RAG tool
  packages/api/src/services/aiService.ts
  packages/api/src/services/index.ts
  packages/api/src/types/env.ts
  packages/api/src/utils/ai/tools.ts
  packages/api/wrangler.toml
Labels: none

add embedding based item suggestions
  packages/api/src/routes/packs/pack.ts
Labels: none

♻️ refactor wrangler toml to jsonc
  packages/api/wrangler.jsonc
  packages/api/wrangler.toml
Labels: none

🔨 add development scripts
  .github/scripts/clean.ts
  .github/scripts/env.ts
  bun.lock
  package.json
Labels: root, AnyChange, github

➕ add manypkg
  bun.lock
  package.json
Labels: root, AnyChange

🎨 lint
  .github/scripts/clean.ts
  .github/scripts/env.ts
  apps/guides/app/error.tsx
  apps/guides/app/not-found.tsx
  apps/guides/lib/content.ts
  apps/landing/app/error.tsx
  apps/landing/app/not-found.tsx
  packages/api/src/routes/packs/items.ts
  packages/api/wrangler.jsonc
Labels: frontend, client, github

➕ add left hook
  bun.lock
  package.json
Labels: root, AnyChange

⚡️ create lefthook file
  lefthook.yml
Labels: root, AnyChange

♻️ move to pre push
  lefthook.yml
Labels: root, AnyChange

📝 add readme from v1
  README.md
Labels: root, docs, AnyChange

📝 add lefthook to the docs
  README.md
Labels: root, docs, AnyChange

📝 update readme for v2
  README.md
Labels: root, docs, AnyChange

🔨 improve env generation
  .github/scripts/env.ts
  package.json
Labels: root, AnyChange, github

🎉 initial set up for basic admin app with hono
  bun.lock
  packages/api/package.json
  packages/api/src/global.d.ts
  packages/api/src/routes/admin/index.ts
  packages/api/src/routes/index.ts
  packages/api/src/types/env.ts
Labels: root, AnyChange

🎨 lint
  packages/api/src/routes/admin/index.ts
Labels: none

get items from public packs
  packages/api/src/routes/packs/items.ts
  packages/api/src/routes/packs/pack.ts
Labels: none

fix unique sku constraint
  packages/api/drizzle/0014_free_mindworm.sql
  packages/api/drizzle/meta/0014_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/src/db/schema.ts
Labels: none

refactor(api:ai): enhance error logging
  packages/api/src/routes/chat.ts
  packages/api/src/utils/ai/tools.ts
Labels: none

refactor(api:ai): cleanup unneeded db util functions
  packages/api/src/utils/DbUtils.ts
Labels: none

refactor(api:ai): simplify URL construction in filenameToUrl method
  packages/api/src/services/aiService.ts
Labels: none

🗃️ fix db migrations
  packages/api/drizzle/0012_loose_betty_brant.sql
  packages/api/drizzle/0013_mute_rhodey.sql
Labels: none

🎨 lint
  packages/api/drizzle/meta/0014_snapshot.json
  packages/api/drizzle/meta/_journal.json
  packages/api/src/db/schema.ts
  packages/api/src/routes/chat.ts
  packages/api/src/services/aiService.ts
  packages/api/src/services/catalogService.ts
  packages/api/src/services/packItemService.ts
  packages/api/src/services/packService.ts
  packages/api/src/services/weatherService.ts
  packages/api/src/utils/ai/tools.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
    - any-glob-to-any-file: '*'

docs:
  - changed-files:
    - any-glob-to-any-file: '{docs/**/*,guides/**/*,**/*.md}'

feature:
  - head-branch: ['^feature', 'feature']

release:
  - base-branch: 'main'

test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.spec.ts'
      - '**/*.spec.js'
      - '**/*.test.ts'
      - '**/*.test.js'
      - '**/tests/**/*.ts'
      - '**/tests/**/*.js'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/**/*.{ts,js, jsx, tsx}'

backend:
  - changed-files:
    - any-glob-to-any-file: 'server/**/*.{ts,js}'

AnyChange:
  - changed-files:
    - any-glob-to-any-file: '*'

client:
  - changed-files:
    - any-glob-to-any-file: 'apps/**/*'

expo:
  - changed-files:
    - any-glob-to-any-file: 'apps/expo/**/*'

next:
  - changed-files:
    - any-glob-to-any-file: 'apps/next/**/*'

vite:
  - changed-files:
    - any-glob-to-any-file: 'apps/vite/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'api/**/*'
      - 'server/**/*'

github:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
