Repository PackRat-AI/PackRat, pull requests merged in 2024-05, with the labels that each got.

#876 🐛 debugging with prebuild
  .github/workflows/android-preview-build-local.yml
  apps/expo/package.json
  package.json
Labels: tests-failure❤️

#885 ⚡️ implementing bundling for vite
  apps/vite/src/routeTree.gen.ts
  apps/vite/src/routes/about/index.lazy.tsx
  apps/vite/src/routes/appearance/index.lazy.tsx
  apps/vite/src/routes/dashboard/index.lazy.tsx
  apps/vite/src/routes/destination/query.lazy.tsx
  apps/vite/src/routes/feed/index.lazy.tsx
  apps/vite/src/routes/items/index.lazy.tsx
  apps/vite/src/routes/map/index.lazy.tsx
  apps/vite/src/routes/maps/index.lazy.tsx
  apps/vite/src/routes/pack/$id.lazy.tsx
  apps/vite/src/routes/pack/create.lazy.tsx
  apps/vite/src/routes/packs/index.lazy.tsx
  apps/vite/src/routes/password-reset/index.lazy.tsx
  apps/vite/src/routes/profile/$id.lazy.tsx
  apps/vite/src/routes/profile/index.lazy.tsx
  apps/vite/src/routes/profile/settings/index.lazy.tsx
  apps/vite/src/routes/register/index.lazy.tsx
  apps/vite/src/routes/sign-in/index.lazy.tsx
  apps/vite/src/routes/trip/$tripId.lazy.tsx
  apps/vite/src/routes/trip/create.lazy.tsx
  apps/vite/src/routes/trips/index.lazy.tsx
Labels: tests-failure❤️

#884 Fix pack details blank on native
  packages/app/components/pack/PackDetails.tsx
Labels: tests-failure❤️

#891 Fix/workflow-comments-may2
  .github/actions/install-deps/action.yml
  .github/labeler.yml
  .github/workflows/android-preview-build-local.yml
  .github/workflows/build.yml
  .github/workflows/ios-build-local.yml
  .github/workflows/label.yml
  .github/workflows/node.js.dev.yml
  .github/workflows/node.js.yml
  .github/workflows/tests.yml
Labels: tests-failure❤️, github

#893 Make about page scrollable on native
  packages/app/screens/about/AboutContent.tsx
Labels: tests-failure❤️

#849 Trip weather bug
  apps/next/package.json
  packages/app/components/PlacesAutocomplete/PlacesAutocomplete.tsx
  packages/app/components/PlacesAutocomplete/usePlacesAutoComplete.ts
  packages/app/components/SearchInput/SearchInput.tsx
  packages/app/components/pack/AddPack.tsx
  packages/app/hooks/geojson/useGEOLocationSearch.ts
  packages/app/hooks/packs/useAddNewPack.ts
  packages/app/hooks/trips/useCreateTripForm.ts
  packages/app/hooks/weather/useFetchWeather.ts
  packages/app/hooks/weather/useFetchWeatherWeek.ts
  packages/app/screens/trip/createTrip.tsx
  packages/validations/src/validations/tripRoutesValidator.ts
Labels: tests-failure❤️

#895 Feat/drizzle-migrations-workflow
  .github/actions/setup-js-runtime/action.yml
  .github/scripts/env.ts
  .github/workflows/deployments/backend.yml
  package.json
  server/migrations/0001_same_iron_patriot.sql
  server/migrations/0003_conversation_schema_update.sql
  server/package.json
  yarn.lock
Labels: tests-failure❤️, github, root, AnyChange, api

#897 fix back feature
  packages/app/components/card/CustomCardHeader.tsx
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/card/TripCardHeader/TripCardHeader.tsx
  packages/app/screens/user/Settings.tsx
Labels: tests-failure❤️, feature

#899 enhance destination page
  packages/app/components/destination/index.tsx
  packages/app/constants/api.ts
Labels: tests-failure❤️

#900 get packId param from usePackId hook instead of window.location
  packages/app/components/item/SearchItem/useSearchItem.ts
Labels: tests-failure❤️

#896 Fix/organize-workflows
  .github/workflows/backend.yml
Labels: github

#860 google sign in Fix
  apps/next/pages/_app.tsx
  apps/vite/src/App.tsx
  packages/app/auth/hooks/useGoogleAuth.ts
  packages/app/components/dashboard/FeedPreview.tsx
  packages/app/components/dashboard/feedpreview.style.tsx
  packages/app/components/pack_table/packtable.style.tsx
  server/src/controllers/passport/signInGoogle.ts
  server/src/drizzle/methods/User.ts
Labels: tests-failure❤️, tests-skipped❤️, backend, client, next, vite, api

#906 handle response while creating pack
  packages/app/components/pack/AddPack.tsx
Labels: tests-failure❤️

#907 fix pack item dropdown on native
  packages/ui/src/ZDropdown/index.tsx
Labels: tests-failure❤️

#911 ✨ add vitest ui
  server/package.json
  yarn.lock
Labels: tests-failure❤️, root, AnyChange, api

#916 🎨 removing tests from actions that are not the test action
  .github/workflows/android-build-manual.yml
  .github/workflows/android-preview-build-local.yml
  .github/workflows/backend.yml
  .github/workflows/build.yml
  .github/workflows/docker.node.yml
  .github/workflows/eas-build-manual.yml
  .github/workflows/expo.build.yml
  .github/workflows/ios-build-local.yml
  .github/workflows/label.yml
  .github/workflows/node.js.dev.yml
  .github/workflows/node.js.yml
  .github/workflows/tests.yml
Labels: tests-failure❤️, github

#914 FIX: zod errors in spec test files
  server/src/services/item/addItemGlobalService.ts
  server/src/tests/routes/trip.spec.ts
Labels: tests-failure❤️, test, backend, api

#915 Tests for Favorite Routes
  server/src/drizzle/methods/UserFavoritePacks.ts
  server/src/services/favorite/addToFavoriteService.ts
  server/src/services/favorite/getUserFavoritesService.ts
  server/src/tests/routes/favorite.spec.ts
Labels: tests-failure❤️, test, backend, api

#901 Fix/google-env-and-backend-build
  .github/actions/setup-js-runtime/action.yml
  apps/vite/vite.config.ts
  packages/app/auth/hooks/useGoogleAuth.ts
  packages/config/package.json
  packages/config/src/index.js
  packages/config/src/sources/vite/index.js
  packages/config/src/sources/vite/viteSource.js
  packages/config/src/sources/vite/viteSource.native.js
  yarn.lock
Labels: tests-failure❤️, frontend, github, root, AnyChange, client, expo, vite

#917 Trip improvments
  packages/app/components/trip/TripCards/TripActivityCard.tsx
  packages/app/components/trip/TripCards/index.ts
  packages/app/hooks/trips/useCreateTripForm.ts
  packages/app/screens/trip/TripDetails.tsx
  packages/app/screens/trip/createTrip.tsx
  packages/app/screens/trip/createTripStore/store.ts
  packages/app/types/TripType.ts
  packages/app/utils/getEnumValues.ts
  packages/app/utils/tripUtils.ts
  packages/ui/src/form/components/Select.tsx
  packages/validations/src/validations/tripRoutesValidator/enums.ts
  packages/validations/src/validations/tripRoutesValidator/index.ts
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
Labels: tests-failure❤️

#919 Weather and OSM Routes Tests
  server/src/controllers/weather/getWeather.ts
  server/src/drizzle/methods/Node.ts
  server/src/drizzle/methods/Way.ts
  server/src/services/osm/getParksOSMService.ts
  server/src/tests/routes/osm.spec.ts
  server/src/tests/routes/weather.spec.ts
  server/src/utils/osmFunctions/modelHandlers.ts
Labels: tests-failure❤️, test, backend, api

#926 fix edit and delete options on pack item
  packages/app/components/pack_table/DeletePackItemModal.tsx
  packages/app/components/pack_table/EditPackItemModal.tsx
  packages/app/components/pack_table/TableItem.tsx
Labels: tests-failure❤️

#929 🗑️ remove deprecated .test files in favor of new .spec
  server/package.json
  server/src/tests/routes/favorite.test.ts
  server/src/tests/routes/pack.test.ts
  server/src/tests/routes/template.test.ts
  server/src/tests/routes/trip.test.ts
  server/src/tests/routes/user.test.ts
Labels: tests-failure❤️, test, backend, api

#925 Fix/debugging-eas-local-action
  .github/actions/setup-java/action.yml
  .github/actions/setup-standard-environment/action.yml
  .github/workflows/build.yml
  .github/workflows/expo.build.yml
Labels: tests-failure❤️, github

#930 Add useEffect hook for closing the edit modal
  packages/app/components/pack_table/TableItem.tsx
Labels: tests-failure❤️

#922 Trip Creation functionality fix
  packages/app/components/ScoreContainer.tsx
  packages/app/components/carousel/index.tsx
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/trip/createTripModal.tsx
Labels: tests-failure❤️

#932 🐛 Debugging expo env error on release config
  packages/app/context/FontLoader.tsx
  packages/config/src/index.js
Labels: tests-failure❤️

#935 Fix/vite env may14
  .github/scripts/env.ts
  .gitignore
  apps/vite/src/routeTree.gen.ts
  packages/app/components/ScoreContainer.tsx
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/pack_table/TableItem.tsx
  packages/app/components/trip/createTripModal.tsx
  packages/config/src/sources/vite/viteSource.js
  packages/config/src/sources/vite/viteSource.native.js
Labels: tests-failure❤️, frontend, github, root, AnyChange, client, vite

#931 Fix/text formatting
  packages/app/components/card/CustomCardHeader.tsx
  packages/app/components/chat/index.tsx
  packages/app/components/dashboard/FeedPreview.tsx
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/landing_page/index.tsx
  packages/app/components/user/UserDataCard.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/hooks/chat/useChat.ts
  packages/app/screens/LoginScreen.tsx
  packages/app/screens/RegisterScreen.tsx
  packages/ui/src/EditableText/EditableText.tsx
  packages/ui/src/RLink/index.tsx
  packages/ui/src/index.tsx
Labels: tests-failure❤️

#757 Type Fix inisde UI directory
  packages/ui/src/DataTable/Table.tsx
  packages/ui/src/DataTable/columnsParser.ts
  packages/ui/src/InputText/InputText.tsx
  packages/ui/src/MainContentWeb/index.tsx
  packages/ui/src/RButton/index.tsx
  packages/ui/src/RContextMenu/index.tsx
  packages/ui/src/RDropdown/DropdownBase.tsx
  packages/ui/src/RForm/index.tsx
  packages/ui/src/RRadio/index.tsx
  packages/ui/src/RSelect/index.tsx
  packages/ui/src/RSpinner/index.tsx
  packages/ui/src/RTooltip/index.tsx
  packages/ui/src/ThreeDotsMenu/ThreeDotsMenu.tsx
  packages/ui/src/ZDropdown/index.tsx
  packages/ui/src/dialog/BaseDialog.tsx
  packages/ui/src/form/components/ImageUpload/ImageUpload.tsx
  packages/ui/src/form/components/SubmitButton.tsx
  packages/ui/src/form/lib/LmAutocomplete.tsx
  packages/ui/src/form/lib/LmCheckbox.tsx
  packages/ui/src/form/lib/LmFormFieldContainer.tsx
  packages/ui/src/form/lib/LmInput.tsx
  packages/ui/src/form/lib/LmRadioGroup.tsx
  packages/ui/src/form/lib/LmSelect.tsx
  packages/ui/src/form/lib/LmSlider.tsx
  packages/ui/src/form/lib/LmSwitch.tsx
  packages/ui/src/form/lib/formContainerTypes.ts
  packages/ui/src/modal/BaseModal.tsx
  packages/ui/src/toast/NativeToast.tsx
Labels: tests-failure❤️, tests-skipped❤️

#936 Fix config for android local build
  .github/workflows/expo.build.yml
  apps/expo/app.config.js
  apps/expo/env.example
  apps/next/env.example
  apps/vite/env.example
  packages/app/auth/hooks/useGoogleAuth.ts
  packages/app/constants/api.ts
  packages/config/package.json
  packages/config/src/index.js
  packages/config/src/sources/vite/viteSource.native.js
  packages/crosspath/types/lib-interface.d.ts
  packages/crosspath/types/model/types.d.ts
  yarn.lock
Labels: tests-failure❤️, frontend, github, root, AnyChange, client, expo, next, vite

#938 🗑️ cleaning up spammy logs
  apps/vite/src/routeTree.gen.ts
  packages/app/api/getGeoCode.ts
  packages/app/api/getTrails.ts
  packages/app/auth/provider.tsx
  packages/app/components/Dropdown.tsx
  packages/app/components/card/CustomCard.tsx
  packages/app/components/map/MapButtonsOverlay.tsx
  packages/app/components/map/NativeMap.native.tsx
  packages/app/components/map/useGpxUpload.tsx
  packages/app/components/pack_table/packtable.style.tsx
  packages/app/components/weather/WeatherCard.tsx
  packages/app/context/Auth/SessionProvider.tsx
  packages/app/context/theme.tsx
  packages/app/hooks/chat/useChat.ts
  packages/app/hooks/chat/useGetAIResponse.ts
  packages/app/hooks/common/useCopyClipboard.ts
  packages/app/hooks/common/useValidateSchema.ts
  packages/app/hooks/favorites/useAddFavorite.ts
  packages/app/hooks/map/useNativeMap.ts
  packages/app/hooks/map/useWebMap.ts
  packages/app/hooks/packs/useAddNewPack.ts
  packages/app/hooks/packs/useAddPackItem.ts
  packages/app/hooks/packs/useDeletePackItem.ts
  packages/app/hooks/packs/useEditPackItem.ts
  packages/app/hooks/password-reset/usePasswordResetForm.ts
  packages/app/hooks/trails/index.ts
  packages/app/hooks/useMatchesCurrentUser.ts
  packages/app/screens/about/AboutContent.tsx
  packages/app/screens/maps/index.tsx
  packages/app/screens/trip/createTripStore/store.ts
  packages/app/utils/apiUtils.ts
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️, frontend, client, vite

#940 🐛 trying with manual token export
  .github/workflows/expo.build.yml
Labels: tests-failure❤️, github

#939 Fix/refactoring webmap hook
  packages/app/components/map/WebMap.web.tsx
  packages/app/hooks/map/useWebMap.ts
Labels: tests-failure❤️, frontend, client, vite

#944 Fix/formatting-may16
  packages/app/api/getGeoCode.ts
  packages/app/api/getTrails.ts
  packages/app/auth/hooks/useGoogleAuth.ts
  packages/app/auth/provider.tsx
  packages/app/components/Dropdown.tsx
  packages/app/components/card/CustomCard.tsx
  packages/app/components/card/CustomCardHeader.tsx
  packages/app/components/map/MapButtonsOverlay.tsx
  packages/app/components/map/NativeMap.native.tsx
  packages/app/components/map/useGpxUpload.tsx
  packages/app/components/pack_table/packtable.style.tsx
  packages/app/components/weather/WeatherCard.tsx
  packages/app/constants/api.ts
  packages/app/context/Auth/SessionProvider.tsx
  packages/app/context/theme.tsx
  packages/app/hooks/chat/useChat.ts
  packages/app/hooks/chat/useGetAIResponse.ts
  packages/app/hooks/common/useCopyClipboard.ts
  packages/app/hooks/common/useValidateSchema.ts
  packages/app/hooks/favorites/useAddFavorite.ts
  packages/app/hooks/map/useNativeMap.ts
  packages/app/hooks/packs/useAddNewPack.ts
  packages/app/hooks/packs/useAddPackItem.ts
  packages/app/hooks/packs/useDeletePackItem.ts
  packages/app/hooks/packs/useEditPackItem.ts
  packages/app/hooks/password-reset/usePasswordResetForm.ts
  packages/app/hooks/trails/index.ts
  packages/app/hooks/useMatchesCurrentUser.ts
  packages/app/screens/about/AboutContent.tsx
  packages/app/screens/maps/index.tsx
  packages/app/screens/trip/createTripStore/store.ts
  packages/app/utils/apiUtils.ts
  packages/app/utils/mapFunctions.ts
  packages/config/src/sources/vite/viteSource.native.js
  packages/crosspath/types/lib-interface.d.ts
  packages/crosspath/types/model/types.d.ts
Labels: tests-failure❤️

#951 fix modal not showing done
  packages/app/components/map/WebMap.web.tsx
  packages/app/constants/api.ts
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️

#960 Change in color
  packages/app/components/navigation/Navbar/Navbar.tsx
Labels: tests-failure❤️

#961 Make reusable layout component and use that in all the pages
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/itemtable/itemTable.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/navigation/Navbar/Navbar.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/screens/about/AboutContent.tsx
  packages/app/screens/dashboard/index.tsx
  packages/app/screens/trip/TripDetails.tsx
  packages/app/screens/user/ProfileContainer.tsx
  packages/ui/src/Container/index.tsx
Labels: tests-failure❤️

#959 Remove flatlist inside scrollview in chat and about style changes
  packages/app/components/chat/index.tsx
  packages/app/screens/about/AboutContent.tsx
  packages/app/screens/about/about.style.tsx
Labels: tests-failure❤️

#958 Changes in style
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack_table/packtable.style.tsx
  packages/app/components/user/UserDetailList.tsx
Labels: tests-failure❤️

#972 change date range component
  packages/app/components/trip/TripCards/TripDateRangeCard.tsx
  packages/app/components/trip/TripCards/index.ts
  packages/app/components/trip/TripDateRange.tsx
  packages/app/screens/trip/createTrip.tsx
  packages/app/screens/trip/createTripStore/store.ts
  packages/app/screens/trip/createTripStore/useCreateTripStore.ts
  packages/ui/src/Bento/elements/datepickers/RangePicker.tsx
Labels: tests-failure❤️

#968 Fix trails and nearby parks select
  packages/app/components/SearchInput/SearchInput.tsx
  packages/app/components/card/LargeCard.tsx
  packages/app/components/carousel/index.tsx
  packages/app/components/destination/index.tsx
  packages/app/components/trip/TripCards/TripSearchCard.tsx
  packages/app/components/weather/WeatherCard.tsx
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️

#965 Enable pull to refresh in feed
  packages/app/components/card/CustomCard.tsx
  packages/app/hooks/feed/publicFeed.ts
Labels: tests-failure❤️
