Repository PackRat-AI/PackRat, pull requests merged in 2024-09, with the labels that each got.

#1210 Enhance/etl import
  packages/app/modules/item/components/ImportForm.tsx
  packages/app/modules/item/hooks/index.ts
  packages/app/modules/item/screens/ItemsScreen.tsx
  server/src/controllers/item/importFromBucket.ts
  server/src/controllers/item/importNotifiedETL.ts
  server/src/controllers/item/index.ts
  server/src/drizzle/methods/User.ts
  server/src/routes/itemRoutes.ts
  server/src/services/item/importFromBucketService.ts
Labels: tests-failure❤️, backend, api

#1211 Horizontal scrolled enabled
  packages/app/components/carousel/index.tsx
Labels: tests-failure❤️

#1209 Add biometric authentication
  apps/expo/package.json
  packages/app/modules/auth/components/AuthWrapper.tsx
  yarn.lock
Labels: tests-failure❤️, tests-skipped❤️, root, AnyChange, client, expo

#1213 Improve grading pie calculations
  packages/app/components/ScoreContainer.tsx
  packages/app/hooks/score/useGradingPie.ts
Labels: tests-failure❤️

#1214 Make register and login screen consistent
  packages/app/modules/auth/screens/LoginScreen.tsx
  packages/app/modules/auth/screens/RegisterScreen.tsx
  packages/ui/src/Bento/forms/layouts/SignInScreen.tsx
  packages/ui/src/Bento/forms/layouts/SignUpScreen.tsx
Labels: tests-failure❤️

#1215 Change colors according to theme
  packages/app/components/ScoreContainer.tsx
  packages/app/modules/user/widgets/ProfileContainer.tsx
Labels: tests-failure❤️

#1212 tamagui alerts
  packages/ui/src/Bento/elements/tables/Basic.tsx
  packages/ui/src/alert/BaseAlert.tsx
  packages/ui/src/alert/index.ts
  packages/ui/src/alert/provider/AlertProvider.tsx
  packages/ui/src/alert/provider/index.ts
  packages/ui/src/index.tsx
Labels: tests-failure❤️, frontend, client, vite

#1216 Add biometric to login only
  packages/app/modules/auth/components/AuthWrapper.tsx
  packages/ui/src/Bento/forms/layouts/SignInScreen.tsx
Labels: tests-failure❤️

#1217 Fix sending a bunch of getMe requests
  packages/app/modules/auth/hooks/useUser.ts
Labels: tests-failure❤️

#1220 Feat/card component
  packages/app/hooks/favorites/index.ts
  packages/app/modules/feed/components/CreatedAtLabel/CreatedAtLabel.tsx
  packages/app/modules/feed/components/CreatedAtLabel/index.ts
  packages/app/modules/feed/components/FavoriteButton/FavoriteButton.tsx
  packages/app/modules/feed/components/FavoriteButton/index.ts
  packages/app/modules/feed/components/FeedCard/FeedCard.tsx
  packages/app/modules/feed/components/FeedCard/index.ts
  packages/app/modules/feed/components/FeedCard/utils.ts
  packages/app/modules/feed/components/index.ts
  packages/app/modules/feed/hooks/index.ts
  packages/app/modules/feed/hooks/useAddFavorite.ts
  packages/app/modules/feed/hooks/useFetchUserFavorites.ts
  packages/app/modules/feed/index.ts
  packages/app/modules/feed/model.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/feed/widgets/FeedPreview/FeedPreview.tsx
  packages/app/modules/feed/widgets/FeedPreview/FeedPreviewCard.tsx
  packages/app/modules/pack/components/PackCard/PackCard.tsx
  packages/app/modules/pack/components/PackCard/PackImage.tsx
  packages/app/modules/pack/components/PackCard/PackPrimaryCard.tsx
  packages/app/modules/pack/components/PackCard/PackSecondaryCard.tsx
  packages/app/modules/pack/components/PackCard/index.ts
  packages/app/modules/pack/components/index.ts
  packages/app/modules/pack/index.ts
  packages/app/modules/pack/model.ts
  packages/app/modules/user/components/UserDataCard.tsx
  packages/app/modules/user/components/UserDetailList.tsx
  packages/app/modules/user/hooks/useProfile.ts
  packages/ui/src/Details/Details.tsx
  packages/ui/src/Details/index.ts
  packages/ui/src/card/Card.tsx
  packages/ui/src/card/PrimaryCard.tsx
  packages/ui/src/card/SecondaryCard.tsx
  packages/ui/src/card/index.ts
  packages/ui/src/card/model.ts
  packages/ui/src/index.tsx
Labels: tests-failure❤️

#1222 fix: fix profile screen crop
  packages/app/modules/user/screens/SettingsScreen.tsx
  packages/app/modules/user/widgets/ProfileContainer.tsx
Labels: tests-failure❤️

#1221 ⚡️ add native toasts
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
  packages/app/components/carousel/index.tsx
  packages/app/components/chat/index.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/progress/index.tsx
  packages/app/config/axios.ts
  packages/app/config/trpcAxiosClient.ts
  packages/app/context/ThirdPartyThemeProviders.tsx
  packages/app/hooks/password-reset/useRequestEmailModal.ts
  packages/app/modules/item/components/ItemRow/ItemRow.tsx
  packages/app/modules/pack/components/PackCard/PackImage.tsx
  packages/app/modules/pack/screens/PackDetailsScreen.tsx
  packages/app/package.json
  packages/app/utils/ToastUtils.ts
  yarn.lock
Labels: tests-failure❤️, root, AnyChange, client, expo

#1223 add score to pack secondary card
  packages/app/modules/feed/components/FeedCard/utils.ts
  packages/app/modules/feed/model.ts
  packages/app/modules/pack/components/PackCard/PackSecondaryCard.tsx
  packages/app/modules/pack/model.ts
  packages/app/utils/index.ts
  packages/app/utils/numberUtils.ts
Labels: tests-failure❤️

#1229 Improve pack options
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/card/PackCardHeader/usePackActions.ts
  packages/app/components/card/PackCardHeader/usePackTitleInput.ts
  packages/app/modules/item/components/SearchItem/SearchItem.tsx
  packages/app/modules/pack/components/EditPackModal.tsx
Labels: tests-failure❤️

#1227 Feed infinte scroll
  packages/app/modules/feed/hooks/useFeed.ts
  packages/app/modules/feed/hooks/usePublicFeed.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  server/src/controllers/pack/getPublicPacks.ts
  server/src/drizzle/methods/pack.ts
  server/src/services/pack/getPublicPacksService.ts
Labels: tests-failure❤️, backend, api

#1230 Fix: login screen not scrollable
  packages/app/modules/auth/screens/LoginScreen.tsx
  packages/app/modules/auth/screens/RegisterScreen.tsx
  packages/ui/src/Bento/forms/layouts/SignInScreen.tsx
Labels: tests-failure❤️

#1218 Revise auth
  packages/app/config/trpcAxiosClient.ts
  packages/app/modules/auth/hooks/useLogin.ts
  packages/app/modules/auth/hooks/useLogout.ts
  packages/app/modules/auth/hooks/useSessionSignIn.ts
  packages/app/trpc.ts
  packages/app/utils/userUtils.ts
  server/migrations/0004_misty_gorilla_man.sql
  server/migrations/meta/0004_snapshot.json
  server/migrations/meta/_journal.json
  server/src/controllers/auth/index.ts
  server/src/controllers/auth/logout.ts
  server/src/controllers/auth/refreshToken.ts
  server/src/controllers/user/userSignIn.ts
  server/src/db/schema.ts
  server/src/drizzle/methods/User.ts
  server/src/routes/trpcRouter.ts
  server/src/services/auth/auth.service.ts
  server/src/services/auth/logoutService.ts
  server/src/services/auth/refreshTokenService.ts
  server/src/trpc/utils/auth.ts
  server/worker-configuration.d.ts
  server/wrangler.toml.example
Labels: tests-failure❤️, tests-skipped❤️, backend, api

#1226 Automatically deploy backend api based on branch update.
  .github/actions/setup-wrangler-toml/action.yml
  .github/workflows/backend-preview.yml
  .github/workflows/backend.yml
  server/package.json
  yarn.lock
Labels: tests-failure❤️, tests-skipped❤️, github, root, backend, AnyChange, api

#1199 Improve AI chat
  packages/app/components/chat/index.tsx
  packages/app/modules/pack/screens/PackDetailsScreen.tsx
  packages/ui/src/modal/BaseModal.tsx
Labels: tests-failure❤️

#1234 feed refactor
  apps/vite/src/routes/feed/index.lazy.tsx
  packages/app/hooks/pagination/index.ts
  packages/app/hooks/pagination/useInfinitePagination.ts
  packages/app/modules/feed/components/FeedCard/utils.ts
  packages/app/modules/feed/components/FeedSearchFilter.tsx
  packages/app/modules/feed/hooks/useAddFavorite.ts
  packages/app/modules/feed/hooks/useFeed.ts
  packages/app/modules/feed/hooks/usePublicFeed.ts
  packages/app/modules/feed/model.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/feed/widgets/FeedPreview/FeedPreview.tsx
  packages/app/modules/item/hooks/useSimilarItems.ts
  packages/app/modules/pack/components/PackCard/PackPrimaryCard.tsx
  packages/app/modules/pack/hooks/useSimilarPacks.ts
  packages/app/modules/pack/hooks/useUserPacks.ts
  packages/app/modules/trip/hooks/useUserTrips.ts
  packages/app/modules/user/hooks/useProfile.ts
  server/src/drizzle/helpers.ts
  server/src/drizzle/methods/pack.ts
  server/src/helpers/pagination.ts
  server/src/modules/feed/controllers/getPublicFeed.ts
  server/src/modules/feed/controllers/getUserPacksFeed.ts
  server/src/modules/feed/index.ts
  server/src/modules/feed/model/feed.ts
  server/src/modules/feed/model/index.ts
  server/src/modules/feed/models.ts
  server/src/modules/feed/routes.ts
  server/src/modules/feed/services/getFeedService.ts
  server/src/modules/feed/services/index.ts
  server/src/routes/trpcRouter.ts
Labels: tests-failure❤️, backend, client, vite, api

#1235 add scrollview for suggestionlist
  packages/app/components/Suggestion/SuggestionList.tsx
  packages/app/components/chat/index.tsx
  packages/ui/src/Bento/animation/buttons/ButtonLoading.tsx
Labels: tests-failure❤️, feature

#1236 fix: feed query
  server/src/modules/feed/model/feed.ts
Labels: tests-failure❤️, backend, api

#1242 persist theme state
  packages/app/context/theme.tsx
  packages/app/hooks/storage/useStorageState.ts
Labels: tests-failure❤️

#1239 Create a sub-action for duplicated task
  .github/actions/deploy-cloudflare-worker/action.yml
  .github/actions/migrate-d1-database/action.yml
  .github/actions/print-wrangler-logs/action.yml
  .github/actions/setup-wrangler-toml/action.yml
  .github/workflows/backend-preview.yml
  .github/workflows/backend.yml
  server/env.example
  server/wrangler.toml.example
Labels: tests-failure❤️, tests-skipped❤️, github, api

#1248 Fix signup issue
  server/src/controllers/user/userSignUp.ts
Labels: tests-failure❤️, backend, api

#1243 regenerate migrations
  server/migrations/0000_slow_chameleon.sql
  server/migrations/0004_misty_gorilla_man.sql
  server/migrations/meta/0000_snapshot.json
  server/migrations/meta/0004_snapshot.json
  server/migrations/meta/_journal.json
Labels: tests-failure❤️, api

#1251 add safe area for search
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
Labels: client, expo

#1252 Development
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
Labels: tests-failure❤️, client, expo

#1258 add offline map migration
  server/migrations/0001_dizzy_the_phantom.sql
  server/migrations/meta/0001_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schema.ts
Labels: backend, api

#1260 fix migration
  server/migrations/0002_lyrical_living_tribunal.sql
  server/migrations/meta/0002_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schema.ts
Labels: backend, api

#1259 Offline Maps Frontend
  packages/app/modules/map/components/MapPreviewCard/StatusLabel.tsx
  packages/app/modules/map/components/MapPreviewCard/index.ts
  packages/app/modules/map/components/MapPreviewCard/index.tsx
  packages/app/modules/map/components/index.ts
  packages/app/modules/map/screens/OfflineMapsScreen/OfflineMapsScreen.tsx
  yarn.lock
Labels: tests-failure❤️, frontend, github, root, docs, release, backend, AnyChange, client, expo, vite, api

#1262 add name unique with owner id
  server/migrations/0003_old_vector.sql
  server/migrations/meta/0003_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schema.ts
Labels: tests-failure❤️, backend, api

#1191 Add verification for oldPassword
  server/src/controllers/auth/updatePassword.ts
Labels: tests-failure❤️, backend, api

#1263 add feed sorting
  packages/app/modules/feed/components/FeedSearchFilter.tsx
  packages/app/modules/feed/hooks/index.ts
  packages/app/modules/feed/hooks/useFeedSortOptions.ts
  server/src/modules/feed/model/feed.ts
Labels: backend, api

#1265 Converted item weights to user's preferred unit
  packages/app/modules/item/components/AddItem.tsx
  packages/app/modules/pack/components/PackTable/TableContainer.tsx
  packages/ui/src/Bento/elements/tables/Basic.tsx
Labels: tests-failure❤️, feature

#1266 update score on items change
  server/src/drizzle/methods/Item.ts
  server/src/services/item/addGlobalItemToPackService.ts
  server/src/services/item/addItemService.ts
  server/src/services/item/deleteItemService.ts
  server/src/services/pack/scorePackService.ts
  server/src/utils/scorePack.ts
Labels: tests-failure❤️, backend, api

#1268 add trip details to feed query
  server/src/modules/feed/model/feed.ts
Labels: tests-failure❤️, backend, api

#1267 fix item visibilty in create trip
  packages/app/modules/pack/components/PackTable/TableContainer.tsx
  packages/app/modules/pack/widgets/PackContainer.tsx
Labels: tests-failure❤️

#1269 use CascadedDropdown in table actions
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/ui/src/Bento/elements/tables/Basic.tsx
  packages/ui/src/Details/Details.tsx
Labels: tests-failure❤️

#1274 preview style fix
  packages/app/modules/user/components/UserDetailList.tsx
Labels: tests-failure❤️

#1275 refactor and items images setup
  packages/app/modules/item/components/ImportForm.tsx
  packages/app/modules/item/hooks/index.ts
  packages/app/modules/item/hooks/useItemImages.ts
  packages/app/modules/item/screens/ItemDetailsScreen.tsx
  server/migrations/0000_slow_chameleon.sql
  server/src/controllers/item/getItemImages.ts
  server/src/controllers/item/importFromBucket.ts
  server/src/controllers/item/importItemsGlobal.ts
  server/src/controllers/item/index.ts
  server/src/db/schema.ts
  server/src/drizzle/methods/ItemImages.ts
  server/src/index.ts
  server/src/routes/trpcRouter.ts
  server/src/services/item/addItemGlobalService.ts
  server/src/services/item/bulkAddGlobalItemService.ts
  server/src/services/item/getItemImagesByIdService.ts
  server/src/services/item/importFromBucketService.ts
  server/src/services/item/item.service.ts
Labels: tests-failure❤️, tests-skipped❤️, backend, api
