Repository PackRat-AI/PackRat, pull requests merged in 2024-10, with the labels that each got.

#1276 Save geojson to s3
  server/src/controllers/trip/addTrip.ts
  server/src/modules/map/controllers/saveOfflineMap.ts
  server/src/modules/map/services/saveOfflineMapService.ts
  server/src/services/geojsonStorage/index.ts
  server/src/services/trip/addTripService.ts
  server/src/trpc/context.ts
  server/wrangler.toml.example
Labels: tests-failure❤️, frontend, root, backend, AnyChange, client, expo, vite, api

#1272 settings preview query
  packages/app/hooks/common/index.ts
  packages/app/hooks/common/usePreviewResourceState.ts
  packages/app/hooks/pagination/index.ts
  packages/app/hooks/pagination/usePagination.ts
  packages/app/modules/feed/hooks/index.ts
  packages/app/modules/feed/hooks/useFeed.ts
  packages/app/modules/feed/hooks/useFetchUserFavorites.ts
  packages/app/modules/feed/hooks/usePublicFeed.ts
  packages/app/modules/feed/index.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/pack/hooks/useUserPacks.ts
  packages/app/modules/trip/hooks/useUserTrips.ts
  packages/app/modules/user/components/UserDetailList.tsx
  packages/app/modules/user/hooks/useProfile.ts
  packages/app/modules/user/model.ts
  packages/app/modules/user/widgets/ProfileContainer.tsx
  packages/app/modules/user/widgets/UserDataContainer.tsx
  packages/ui/src/Pagination/Pagination.tsx
  packages/ui/src/Pagination/index.ts
  packages/ui/src/index.tsx
  server/src/controllers/favorite/getUserFavorites.ts
  server/src/helpers/pagination.ts
  server/src/modules/feed/controllers/getPublicFeed.ts
  server/src/modules/feed/controllers/getUserPacksFeed.ts
  server/src/modules/feed/controllers/getUserTripsFeed.ts
  server/src/modules/feed/model/feed.ts
  server/src/services/favorite/getUserFavoritesService.ts
Labels: tests-failure❤️, backend, api

#1277 Retrieve geojson from url
  server/src/routes/geojsonRoutes.ts
  server/src/routes/index.ts
  server/src/services/geojsonStorage/index.ts
Labels: tests-failure❤️, backend, api

#1281 fix trip details on native
  packages/app/components/trip/TripCards/TripMapCard.tsx
  packages/app/screens/trip/TripDetails.tsx
Labels: tests-failure❤️

#1283 fix create trip pack items
  packages/ui/src/Bento/elements/tables/Basic.tsx
Labels: tests-failure❤️

#1284 Fix overlapping fab
  packages/app/components/Fab/FabNative.tsx
  packages/app/components/Fab/FabWeb.tsx
  packages/app/modules/dashboard/components/QuickActionSection/QuickActionSection.tsx
Labels: tests-failure❤️

#1285 Fix api workflow
  .github/actions/deploy-cloudflare-worker/action.yml
  .github/actions/migrate-d1-database/action.yml
  .github/actions/setup-wrangler-toml-and-dotenv/action.yml
  .github/workflows/backend-preview.yml
  .github/workflows/backend.yml
  server/.dev.vars.example
  server/env.example
  server/wrangler.toml.example
Labels: tests-failure❤️, tests-skipped❤️, github, api

#1286 fix native ui
  packages/app/components/SearchInput/SearchInput.tsx
  packages/app/components/card/LargeCard.tsx
  packages/app/components/destination/index.tsx
  packages/app/modules/feed/widgets/FeedPreview/FeedPreview.tsx
  packages/app/modules/user/screens/SettingsScreen.tsx
  packages/app/modules/user/widgets/ProfileContainer.tsx
  packages/app/modules/user/widgets/UserDataContainer.tsx
Labels: tests-failure❤️

#1287 Gitignore devdotvars
  server/.gitignore
Labels: tests-failure❤️, api

#1257 Enhance similar packs items logic
  .github/workflows/backend-preview.yml
  .github/workflows/backend.yml
  .github/workflows/eas-cloud.yml
  .github/workflows/eas-local.yml
  packages/app/modules/feed/widgets/FeedPreview/FeedPreview.tsx
  packages/shared-types/CHANGELOG.md
  packages/shared-types/README.md
  packages/shared-types/package.json
  packages/shared-types/src/index.ts
  packages/shared-types/src/packAndItemVisibilityFilter.ts
  packages/shared-types/tsconfig.json
  packages/validations/package.json
  packages/validations/src/validations/itemRoutesValidator.ts
  packages/validations/src/validations/packRoutesValidator.ts
  server/package.json
  server/src/controllers/item/getSimilarItems.ts
  server/src/controllers/pack/getSimilarPacks.ts
  server/src/drizzle/methods/Item.ts
  server/src/drizzle/methods/pack.ts
  server/src/services/item/addItemGlobalService.ts
  server/src/services/item/addItemService.ts
  server/src/services/item/editItemService.ts
  server/src/services/item/getSimilarItemsService.ts
  server/src/services/pack/addPackService.ts
  server/src/services/pack/duplicatePublicPackService.ts
  server/src/services/pack/editPackService.ts
  server/src/services/pack/getSimilarPacksService.ts
  server/src/tests/routes/item.spec.ts
  server/src/tests/routes/pack.spec.ts
  server/src/vector/client.ts
  yarn.lock
Labels: tests-failure❤️, github, root, docs, test, backend, AnyChange, api

#1290 Fix/prod deployment
  .github/actions/setup-wrangler-toml-and-dotenv/action.yml
  server/src/index.ts
Labels: tests-failure❤️, github, backend, api

#1291 Development
  .github/actions/setup-wrangler-toml-and-dotenv/action.yml
  server/src/index.ts
Labels: tests-failure❤️, github, backend, api

#1294 Settings Ui Refactored
  packages/app/components/settings/components/inputParts.tsx
  packages/app/components/settings/components/layoutParts.tsx
  packages/app/components/settings/index.tsx
  packages/app/modules/user/screens/SettingsScreen.tsx
  packages/ui/src/form/components/ImageUpload/ImageUpload.tsx
Labels: tests-failure❤️

#1297 Add new global item fields
  server/migrations-preview/0001_lush_xorn.sql
  server/migrations-preview/meta/0001_snapshot.json
  server/migrations-preview/meta/_journal.json
  server/src/controllers/item/importItemsGlobal.ts
  server/src/db/schema.ts
  server/src/services/item/addItemGlobalService.ts
  server/src/services/item/bulkAddGlobalItemService.ts
  server/src/services/item/importFromBucketService.ts
Labels: tests-failure❤️, backend, api

#1298 Redesign item details
  packages/app/modules/item/components/ExpandableDetailsSection.tsx
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/components/ItemDetailsSectionNative.tsx
  packages/app/modules/item/screens/ItemDetailsScreen.tsx
Labels: tests-failure❤️

#1299 add item card on items screen
  packages/app/modules/item/components/ItemCard.tsx
  packages/app/modules/item/components/ItemDetailsContent.tsx
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/screens/ItemsScreen.tsx
Labels: tests-failure❤️

#1300 card native
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/item/[itemId].tsx
  packages/app/modules/item/components/ItemCard.tsx
  packages/app/modules/item/components/ItemDetailsContent.tsx
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/components/ItemDetailsSectionNative.tsx
  packages/app/modules/item/screens/ItemsFeed.tsx
Labels: tests-failure❤️, tests-skipped❤️, client, expo

#1301 use single component for both platforms
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/components/ItemDetailsSectionNative.tsx
  packages/app/modules/item/screens/ItemDetailsScreen.tsx
Labels: tests-failure❤️

#1303 Enhance item details page
  packages/app/modules/item/components/ItemDetailsContent.tsx
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/screens/ItemDetailsScreen.tsx
Labels: tests-failure❤️

#1304 Fix/ios submission
  .github/workflows/eas-cloud.yml
Labels: tests-failure❤️, github

#1307 Enhance items feed
  packages/app/modules/feed/hooks/useFeedSortOptions.ts
  packages/app/modules/item/components/ItemDetailsContent.tsx
  packages/app/modules/item/screens/ItemsFeed.tsx
  packages/ui/src/form/components/InputWithIcon.tsx
Labels: tests-failure❤️

#1310 Item list UI enhancement
  packages/app/modules/pack/components/PackTable/ItemList.tsx
  packages/app/modules/pack/components/PackTable/TableContainer.tsx
Labels: tests-failure❤️

#1312 Layout enhancement pack details
  packages/app/modules/pack/components/PackTable/TableContainer.tsx
  packages/app/modules/pack/components/PackTable/TableHelperComponents.tsx
  packages/app/modules/pack/components/PackTable/packtable.style.tsx
  packages/ui/src/RSelect/index.tsx
Labels: tests-failure❤️

#1315 Move quantity from item to item_packs
  packages/app/modules/pack/components/AddGlobalItemToPack.tsx
  packages/app/modules/pack/hooks/useAddGlobalItemToPack.ts
  packages/app/screens/trip/createTrip.tsx
  packages/ui/src/Bento/elements/tables/PaginatedSortedTable.tsx
  packages/validations/src/validations/itemRoutesValidator.ts
  server/migrations-preview/0002_mushy_human_robot.sql
  server/migrations-preview/meta/0002_snapshot.json
  server/migrations-preview/meta/_journal.json
  server/src/controllers/item/addGlobalItemToPack.ts
  server/src/controllers/item/addItemGlobal.ts
  server/src/controllers/item/editGlobalItemAsDuplicate.ts
  server/src/controllers/item/editItem.ts
  server/src/controllers/item/importItemsGlobal.ts
  server/src/db/schema.ts
  server/src/drizzle/methods/Item.ts
  server/src/drizzle/methods/ItemPacks.ts
  server/src/drizzle/methods/PackTemplate.ts
  server/src/drizzle/methods/pack.ts
  server/src/modules/feed/model/feed.ts
  server/src/services/item/addGlobalItemToPackService.ts
  server/src/services/item/addItemGlobalService.ts
  server/src/services/item/addItemService.ts
  server/src/services/item/bulkAddGlobalItemService.ts
  server/src/services/item/deleteItemService.ts
  server/src/services/item/editGlobalItemAsDuplicateService.ts
  server/src/services/item/editItemService.ts
  server/src/services/item/importFromBucketService.ts
  server/src/services/pack/getPackByIdService.ts
Labels: tests-failure❤️, backend, api

#1314 Add creatable option to search
  packages/app/components/SearchInput/SearchInput.tsx
  packages/app/components/SearchInput/useSearchInput.ts
  packages/app/modules/item/components/AddItemModal.tsx
  packages/app/modules/item/components/SearchItem/SearchItem.tsx
Labels: tests-failure❤️, root, AnyChange

#1317 Add loading placeholder
  packages/app/assets/item-placeholder.png
  packages/app/modules/item/components/ItemCard.tsx
Labels: tests-failure❤️

#1319 add ios submit token to workflow
  .github/workflows/eas-cloud.yml
Labels: tests-failure❤️, github

#1320 Andrew testing
  .github/actions/setup-wrangler-toml-and-dotenv/action.yml
  .github/workflows/eas-cloud.yml
  server/src/index.ts
Labels: github, release, backend, api

#1323 Use list component
  packages/app/modules/feed/components/FeedList.tsx
  packages/app/modules/feed/components/index.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/item/screens/ProductsScreen.tsx
Labels: tests-failure❤️, tests-skipped❤️

#1325 Fix backend migration issue
  server/migrations-preview/0001_lush_xorn.sql
  server/migrations-preview/0002_luxuriant_gunslinger.sql
  server/migrations-preview/0002_mushy_human_robot.sql
  server/migrations-preview/meta/0002_snapshot.json
  server/migrations-preview/meta/_journal.json
Labels: api

#1326 Auto increament build version on preview workflow
  .github/workflows/eas-cloud.yml
  apps/expo/eas.json
Labels: tests-failure❤️, github, client, expo

#1330 Andrew testing
  .github/workflows/eas-cloud.yml
  apps/expo/eas.json
Labels: github, release, client, expo
