Repository PackRat-AI/PackRat, pull requests merged in 2024-12, with the labels that each got.

#1342 Generate a production migration
  server/migrations/0007_wealthy_next_avengers.sql
  server/migrations/meta/0007_snapshot.json
  server/migrations/meta/_journal.json
Labels: tests-failure❤️, api

#1345 fix build issue
  packages/app/modules/map/components/index.ts
  packages/app/modules/map/screens/OfflineMapsScreen/OfflineMapsScreen.tsx
Labels: tests-failure❤️

#1346 Development
  packages/app/modules/auth/components/AuthWrapper.tsx
  packages/app/modules/auth/hooks/useUser.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/map/hooks/useOfflineMaps.ts
Labels: tests-failure❤️

#1348 Andrew testing
  packages/app/modules/auth/components/AuthWrapper.tsx
  packages/app/modules/auth/hooks/useUser.ts
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/map/hooks/useOfflineMaps.ts
Labels: release

#1349 Packdetails enhancement
  apps/vite/src/routes/__root.tsx
  packages/app/components/ErrorCard/ErrorCard.tsx
  packages/app/components/ErrorCard/index.ts
  packages/app/components/card/CustomCard.tsx
  packages/app/components/carousel/index.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/modules/dashboard/components/HeroSection/HeroSection.tsx
  packages/app/modules/dashboard/components/Section/Section.tsx
  packages/app/modules/dashboard/screens/DashboardScreen/DashboardScreen.tsx
  packages/app/modules/feed/components/FeedList.tsx
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/modules/pack/components/PackTable/ItemList.tsx
  packages/app/modules/pack/components/PackTable/TableContainer.tsx
  packages/app/modules/pack/screens/PackDetailsScreen.tsx
  packages/app/screens/about/about.style.tsx
  packages/app/theme/index.ts
  packages/ui/src/MainContentWeb/index.tsx
Labels: tests-failure❤️

#1354 Enhance packdetails
  packages/app/components/ScoreContainer.tsx
  packages/app/components/card/CustomCard.tsx
  packages/app/modules/item/components/AddItemModal.tsx
  packages/app/modules/item/components/ImportItemModal.tsx
  packages/app/modules/pack/components/PackTable/ItemCard.tsx
  packages/app/modules/pack/components/PackTable/ItemList.tsx
  packages/app/modules/pack/components/PackTable/TableContainer.tsx
  packages/app/modules/pack/screens/PackDetailsScreen.tsx
  packages/ui/src/RPrimaryButton/index.tsx
  packages/ui/src/RSecondaryButton/index.tsx
  packages/ui/src/index.tsx
Labels: tests-failure❤️

#1358 Add popover
  apps/vite/src/routes/destination/query.lazy.tsx
  packages/app/components/SearchInput/SearchInput.tsx
Labels: client, vite

#1355 Fix quantity on native
  packages/app/modules/pack/components/PackTable/ItemCard.tsx
  packages/ui/src/RSecondaryButton/index.tsx
Labels: tests-failure❤️

#1361 SecondaryButton changes
  packages/app/components/RPrimaryButton/index.tsx
  packages/app/components/RSecondaryButton/index.tsx
  packages/app/components/trip/TripCards/TripSearchCard.tsx
  packages/app/modules/item/components/AddItemModal.tsx
  packages/app/modules/item/components/ImportItemModal.tsx
  packages/app/modules/pack/widgets/AddPackContainer.tsx
  packages/app/screens/trip/createTrip.tsx
  packages/ui/src/index.tsx
Labels: tests-failure❤️

#1365 Fix Backend Eslint Issue
  package.json
  server/src/controllers/item/getItemImages.ts
  server/src/controllers/item/importNotifiedETL.ts
  server/src/controllers/pack/getPublicPacks.ts
  server/src/controllers/packTemplates/index.ts
  server/src/db/schema.ts
  server/src/drizzle/methods/ItemImages.ts
  server/src/drizzle/methods/ItemPacks.ts
  server/src/drizzle/methods/PackTemplate.ts
  server/src/drizzle/methods/pack.ts
  server/src/routes/itemRoutes.ts
  server/src/routes/trpcRouter.ts
  server/src/services/item/bulkAddGlobalItemService.ts
  server/src/services/item/importFromBucketService.ts
  server/src/services/item/item.service.ts
  server/src/services/pack/getPublicPacksService.ts
  server/src/services/packTemplate/getPackTemplatesService.ts
  server/src/vector/client.ts
Labels: tests-failure❤️, root, backend, AnyChange, api

#1357 Fix broken items import from csv
  packages/app/hooks/offline/useOfflineQueue.ts
  packages/app/hooks/offline/useRunQueueItem.ts
  packages/app/modules/item/hooks/useImportItem.ts
  packages/validations/src/validations/itemRoutesValidator.ts
  packages/validations/src/validations/packTemplateRoutesValidator.ts
  server/src/controllers/item/importItemsGlobal.ts
  server/src/controllers/packTemplates/addPackTemplate.ts
  server/src/controllers/packTemplates/getPackTemplate.ts
  server/src/controllers/packTemplates/index.ts
  server/src/db/schema.ts
  server/src/drizzle/methods/Item.ts
  server/src/drizzle/methods/ItemPackTemplate.ts
  server/src/drizzle/methods/PackTemplate.ts
  server/src/routes/trpcRouter.ts
  server/src/services/item/addItemGlobalService.ts
  server/src/services/item/addItemService.ts
  server/src/services/item/bulkAddGlobalItemService.ts
  server/src/services/itemPackTemplate/addItemPackTemplate.ts
  server/src/services/itemPackTemplate/itemPackTemplate.service.ts
  server/src/services/packTemplate/addPackTemplateService.ts
  server/src/services/packTemplate/createPackFromTemplateService.ts
  server/src/services/packTemplate/getPackTemplateService.ts
  server/src/services/packTemplate/packTemplate.service.ts
  server/src/tests/routes/packTemplate.spec.ts
Labels: tests-failure❤️, test, backend, api

#1366 Update Trip endpoints
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
  server/src/controllers/trip/addTrip.ts
  server/src/controllers/trip/editTrip.ts
  server/src/controllers/trip/index.ts
  server/src/controllers/trip/setTripVisibility.ts
  server/src/db/schema.ts
  server/src/drizzle/methods/Geojson.ts
  server/src/drizzle/methods/trip.ts
  server/src/routes/trpcRouter.ts
  server/src/services/trip/addTripService.ts
  server/src/services/trip/editTripService.ts
  server/src/services/trip/trip.service.ts
Labels: tests-failure❤️, backend, api, feature

#1367 Fix pack score
  packages/app/components/ScoreContainer.tsx
Labels: tests-failure❤️

#1369 Enhance ItemPrimaryCard
  packages/app/modules/item/components/ItemDetailsContent.tsx
Labels: tests-failure❤️

#1364 Feed screen enhancement
  packages/app/components/FilterBadge.tsx
  packages/app/modules/feed/components/FeedSearchFilter.tsx
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/ui/src/ZDropdown/index.tsx
  packages/ui/src/form/components/InputWithIcon.tsx
Labels: tests-failure❤️

#1374 Fix card text
  packages/app/modules/trip/components/TripCard/TripPrimaryCard.tsx
  packages/ui/src/card/SecondaryCard.tsx
Labels: tests-failure❤️

#1373 Product details UI enhancement
  packages/app/modules/item/components/ExpandableDetailsSection.tsx
  packages/app/modules/item/components/ItemCard/ItemPrimaryCard.tsx
  packages/app/modules/item/components/ItemDetailsContent.tsx
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/components/ItemPrimaryDetailsSection.tsx
  packages/app/modules/item/screens/ItemDetailsScreen.tsx
  packages/ui/src/Details/Details.tsx
  packages/ui/src/ImageGallery/ImageGallery.tsx
Labels: tests-failure❤️

#1370 Fix `is_public` Field value on the trip
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
  server/src/drizzle/methods/PackTemplate.ts
  server/src/services/trip/addTripService.ts
  server/src/services/trip/editTripService.ts
Labels: tests-failure❤️, tests-skipped❤️, backend, api

#1376 Fix editabletext
  packages/app/modules/pack/components/PackTable/ItemCard.tsx
  packages/app/modules/pack/components/PackTable/ItemList.tsx
  packages/ui/src/EditableText/EditableText.tsx
Labels: tests-failure❤️

#1377 Fix geojson route returning invalid string and add minimum range in the trip name and description
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
  server/src/routes/geojsonRoutes.ts
  server/src/services/geojsonStorage/index.ts
  server/src/services/trip/editTripService.ts
Labels: tests-failure❤️, tests-skipped❤️, backend, api

#1378 Enhance product screen header
  packages/app/modules/item/components/ItemCard/ItemPrimaryCard.tsx
  packages/app/modules/item/screens/ProductsScreen.tsx
Labels: tests-failure❤️

#1380 Quick actions enhancement
  packages/app/components/Fab/Fab.tsx
  packages/app/components/Fab/FabNative.tsx
  packages/app/components/Fab/FabWeb.tsx
Labels: tests-failure❤️

#1379 Fix trip schema definition and migration
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
  server/migrations-preview/0004_the_human_professor.sql
  server/migrations-preview/meta/0004_snapshot.json
  server/migrations-preview/meta/_journal.json
  server/migrations/0008_shocking_serpent_society.sql
  server/migrations/meta/0008_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schema.ts
Labels: tests-failure❤️, backend, api

#1381 Enhance product details on native
  packages/app/modules/item/components/ItemDetailsSection.tsx
  packages/app/modules/item/screens/ItemDetailsScreen.tsx
Labels: tests-failure❤️

#1384 Enforce pack and item title to have between 3 to 40 char
  packages/validations/src/validations/itemRoutesValidator.ts
  packages/validations/src/validations/packRoutesValidator.ts
Labels: release

#1385 ⬆️ bump tamagui
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/map/index.tsx
  apps/expo/package.json
  apps/next/package.json
  apps/tauri/package.json
  apps/vite/package.json
  packages/app/package.json
  packages/crosspath/package.json
  packages/ui/package.json
  packages/ui/src/tamagui.config.ts
  yarn.lock
Labels: tests-failure❤️, root, AnyChange, client, expo, next, vite

#1382 ⚡️ add large titles on ios, improve tab navigation and icons
  apps/expo/app.json
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/about/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/chat.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/items/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/maps/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack-templates/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/products/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/profile/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/profile/index.tsx
  apps/expo/assets/packrat-app-icon-gradient.png
  apps/expo/package.json
  apps/next/package.json
  apps/tauri/package.json
  apps/vite/package.json
  packages/app/components/ErrorCard/ErrorCard.tsx
  packages/app/components/FilterBadge.tsx
  packages/app/components/PlacesAutocomplete/PlacesAutocomplete.tsx
  packages/app/components/PlacesAutocomplete/usePlacesAutoComplete.ts
  packages/app/components/SearchInput/SearchInput.tsx
  packages/app/components/SearchInput/SearchResults.tsx
  packages/app/components/chat/ChatNative.tsx
  packages/app/components/chat/SuggestionComponent.tsx
  packages/app/components/details/index.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/navigation/Tabs.tsx
  packages/app/context/ThirdPartyThemeProviders.tsx
  packages/app/hooks/router/index.ts
  packages/app/hooks/router/useRouterSettings.ts
  packages/app/modules/dashboard/components/HeroSection/HeroSection.tsx
  packages/app/modules/dashboard/screens/DashboardScreen/DashboardScreen.tsx
  packages/app/modules/feed/atoms/index.ts
  packages/app/modules/feed/components/FeedSearchFilter.tsx
  packages/app/modules/feed/components/SearchProvider.tsx
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/package.json
  packages/app/provider/BugsnagProvider/Bugsnag.web.ts
  packages/app/theme/indessx.ts
  packages/crosspath/package.json
  packages/ui/package.json
  packages/ui/src/Chip/index.tsx
  packages/ui/src/RForm/index.tsx
  packages/ui/src/ZDropdown/index.tsx
  packages/ui/src/index.tsx
  server/src/testing/PackRat.postman_collection.json
  yarn.lock
Labels: tests-failure❤️, tests-skipped❤️, frontend, root, AnyChange, client, expo, next, vite, api

#1386 Development -> main
  apps/expo/app.json
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/about/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/chat.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/items/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/map/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/maps/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack-templates/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/products/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/profile/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/profile/index.tsx
  apps/expo/assets/packrat-app-icon-gradient.png
  apps/vite/package.json
  packages/app/components/ErrorCard/ErrorCard.tsx
  packages/app/components/FilterBadge.tsx
  packages/app/components/PlacesAutocomplete/PlacesAutocomplete.tsx
  packages/app/components/PlacesAutocomplete/usePlacesAutoComplete.ts
  packages/app/components/SearchInput/SearchInput.tsx
  packages/app/components/SearchInput/SearchResults.tsx
  packages/app/components/chat/ChatNative.tsx
  packages/app/components/chat/SuggestionComponent.tsx
  packages/app/components/details/index.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/navigation/Tabs.tsx
  packages/app/context/ThirdPartyThemeProviders.tsx
  packages/app/hooks/router/index.ts
  packages/app/hooks/router/useRouterSettings.ts
  packages/app/modules/dashboard/components/HeroSection/HeroSection.tsx
  packages/app/modules/dashboard/screens/DashboardScreen/DashboardScreen.tsx
  packages/app/modules/feed/atoms/index.ts
  packages/app/modules/feed/components/FeedSearchFilter.tsx
  packages/app/modules/feed/components/SearchProvider.tsx
  packages/app/modules/feed/screens/FeedScreen.tsx
  packages/app/package.json
  packages/app/provider/BugsnagProvider/Bugsnag.web.ts
  packages/app/theme/indessx.ts
  packages/ui/src/Chip/index.tsx
  packages/ui/src/RForm/index.tsx
  packages/ui/src/ZDropdown/index.tsx
  packages/ui/src/index.tsx
  packages/ui/src/tamagui.config.ts
  packages/validations/src/validations/itemRoutesValidator.ts
  packages/validations/src/validations/packRoutesValidator.ts
  server/src/testing/PackRat.postman_collection.json
  yarn.lock
Labels: tests-failure❤️, root, release, AnyChange, client, expo, next, vite, api

#1390 Add search on native
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/about/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/maps/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/products/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trips/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/profile/_layout.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/screens/about/about.style.tsx
Labels: tests-failure❤️, client, expo

#1375 Upgrade expo: 50 -> 51 -> 52
  app.json
  apps/expo/app.json
  apps/expo/assets/adaptive-icon.png
  apps/expo/package.json
  apps/expo/tsconfig.json
  package.json
  packages/app/app.json
  packages/app/package.json
  packages/ui/package.json
  yarn.lock
Labels: dependencies, tests-failure❤️, tests-skipped❤️, root, AnyChange, client, expo, next, vite, api
