Repository PackRat-AI/PackRat, pull requests merged in 2024-08, with the labels that each got.

#1152 Fixed playwright tests
  packages/playwright/tests/about-page.spec.js
  packages/playwright/tests/add-item.spec.js
  packages/playwright/tests/privacy-policy.spec.js
  packages/playwright/tests/profile-page.spec.js
Labels: tests-failure❤️, test

#1161 adding new tests
  packages/playwright/tests/chg_pwd_attempt.spec.js
  packages/playwright/tests/delete_account_error.spec.js
  packages/playwright/tests/empty_email.spec.js
  packages/playwright/tests/empty_email_pwd.spec.js
  packages/playwright/tests/incorr_pwd.spec.js
  packages/playwright/tests/invld_add_item.spec.js
  packages/playwright/tests/invld_pack_create.spec.js
  packages/playwright/tests/login_empty_pwd.spec.js
  packages/playwright/tests/login_incorr_email.spec.js
  packages/playwright/tests/upd_prof_empty_name.spec.js
  packages/playwright/tests/wrong_pwd_fmt.spec.js
Labels: tests-failure❤️, test

#1159 ✨ feat(ui): show similar items v2
  packages/app/components/feedPreview/FeedPreviewCard.tsx
  packages/app/components/feedPreview/index.tsx
  packages/app/hooks/feed/index.ts
  packages/app/hooks/items/index.ts
  packages/app/hooks/items/useSimilarItems.ts
  packages/app/screens/items/item-details.tsx
Labels: tests-failure❤️

#1164 🐛 fix app crash due to invalid styles
  packages/app/components/ScoreContainer.tsx
  packages/app/components/feedPreview/FeedPreviewCard.tsx
Labels: tests-failure❤️, tests-skipped❤️

#1165 🔥Native deployment pipeline
  .github/actions/find-or-create-comment/action.yml
  .github/actions/update-native-preview-build-status/action.yml
  .github/workflows/android-build-manual.yml
  .github/workflows/android-preview-build-local.yml
  .github/workflows/build.yml
  .github/workflows/eas-build-manual.yml
  .github/workflows/eas-cloud.yml
  .github/workflows/eas-local.yml
  .github/workflows/ios-build-local.yml
Labels: tests-failure❤️, github

#1170 adiitional tests
  packages/playwright/sc-dashboard.js
  packages/playwright/sc-destination-query.js
  packages/playwright/sc-feed.js
  packages/playwright/sc-items-fullscreen.js
  packages/playwright/sc-items.js
  packages/playwright/sc-login-register.js
  packages/playwright/sc-other-profile-fullscreen.js
  packages/playwright/sc-other-profile.js
  packages/playwright/sc-pack-create.js
  packages/playwright/sc-pack-details-fullscreen.js
  packages/playwright/sc-pack-details.js
  packages/playwright/sc-packs-page.js
  packages/playwright/sc-profile-settings-fullscreen.js
  packages/playwright/sc-profile-settings.js
  packages/playwright/tests/empty_confirmnewpwd_field.spec.js
  packages/playwright/tests/empty_newpwd_field.spec.js
  packages/playwright/tests/empty_oldpwd_field.spec.js
  packages/playwright/tests/invld_add_item_qty.spec.js
  packages/playwright/tests/invld_add_item_weight.spec.js
  packages/playwright/tests/pack-name-already-exist.spec.js
  packages/playwright/tests/upd_prof_empty_email.spec.js
  packages/playwright/tests/upd_prof_empty_usrnme.spec.js
Labels: tests-failure❤️, test

#1175 Fix native search theme
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
  packages/app/components/PlacesAutocomplete/PlacesAutocomplete.tsx
  packages/app/components/SearchInput/SearchInput.tsx
Labels: tests-failure❤️, client, expo

#1178 Take text color from theme
  apps/vite/src/routeTree.gen.ts
  packages/app/components/weather/WeatherCard.tsx
  packages/app/modules/dashboard/components/SectionHeader/SectionHeader.tsx
  packages/app/screens/privacy/PrivacyContent.tsx
  packages/app/screens/privacy/privacy.style.tsx
  yarn.lock
Labels: tests-failure❤️, frontend, root, AnyChange, client, vite

#1174 Add changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changeset-release.yml
  .github/workflows/tauri-build.yml
  apps/expo/CHANGELOG.md
  apps/expo/package.json
  apps/next/CHANGELOG.md
  apps/next/package.json
  apps/tauri/CHANGELOG.md
  apps/tauri/package.json
  apps/vite/CHANGELOG.md
  apps/vite/package.json
  package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/crosspath/CHANGELOG.md
  packages/crosspath/package.json
  packages/playwright/CHANGELOG.md
  packages/playwright/package.json
  packages/playwright/tests/add-item.spec.js
  packages/playwright/tests/create-pack.spec.js
  packages/playwright/tests/items-page-add-item.spec.js
  packages/playwright/tests/items-page.spec.js
  packages/playwright/tests/open-pack.spec.js
  packages/playwright/tests/pack-name-already-exist.spec.js
  packages/playwright/tests/profile-page.spec.js
  packages/shared-types/CHANGELOG.md
  packages/shared-types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/validations/CHANGELOG.md
  packages/validations/package.json
  server/CHANGELOG.md
  server/package.json
  yarn.lock
Labels: tests-failure❤️, github, root, docs, test, AnyChange, client, expo, next, vite, api

#1182 update failing tests
  packages/playwright/tests/open-pack.spec.js
  packages/playwright/tests/pack-add-item.spec.js
Labels: tests-failure❤️, test

#1184 Configure remote appVersion management
  apps/expo/eas.json
Labels: tests-failure❤️, client, expo

#1185 ⚡️ update deps to get ios build working in testflight
  apps/bun-server/package.json
  apps/expo/app.json
  apps/expo/package.json
  apps/tauri/package.json
  apps/tauri/src/routeTree.gen.ts
  apps/vite/package.json
  package.json
  packages/app/package.json
  packages/crosspath/package.json
  packages/ui/package.json
  packages/validations/package.json
  server/package.json
  yarn.lock
Labels: tests-failure❤️, frontend, root, AnyChange, client, expo, vite, api

#1156 Import from bucket for global items
  apps/vite/src/routeTree.gen.ts
  packages/app/modules/item/components/ImportItemGlobal.tsx
  packages/app/modules/item/hooks/useImportFromBucket.ts
  packages/app/modules/item/hooks/useImportItem.ts
  packages/app/modules/pack/hooks/useImportPackItem.ts
  packages/ui/src/CascadedDropdown.tsx
  packages/ui/src/index.tsx
  server/package.json
  server/src/controllers/item/importFromBucket.ts
  server/src/controllers/item/index.ts
  server/src/drizzle/methods/Item.ts
  server/src/routes/index.ts
  server/src/routes/itemRoutes.ts
  server/src/routes/testRoutes.ts
  server/src/routes/trpcRouter.ts
  server/src/services/item/bulkAddGlobalItemService.ts
  server/src/services/item/importFromBucketService.ts
  server/src/services/item/item.service.ts
  server/vitest.config.d.ts
  yarn.lock
Labels: tests-failure❤️, tests-skipped❤️, frontend, root, test, backend, AnyChange, client, vite, api

#1186 Fix expo dependencies
  apps/expo/package.json
  yarn.lock
Labels: tests-failure❤️, root, AnyChange, client, expo

#1183 Fix update password
  server/src/controllers/auth/updatePassword.ts
Labels: tests-failure❤️, backend, api

#1194 Fix app icon and name
  apps/expo/app.json
  apps/expo/assets/adaptive-icon.png
  packages/app/components/landing_page/LandingPageAccordion.tsx
Labels: tests-failure❤️, frontend, root, release, test, backend, AnyChange, client, expo, vite, api

#1198 Generate changelog
  .github/workflows/changeset-release.yml
Labels: tests-failure❤️, github, docs

#1203 Add upload artifacts in tauri yml
  .github/workflows/tauri-build.yml
Labels: tests-failure❤️, github

#1202 Fix empty cards showing up in similar packs
  packages/app/modules/pack/screens/PackDetailsScreen.tsx
  server/src/trpc/context.ts
  server/wrangler.toml.example
Labels: tests-failure❤️, backend, api

#1204 Fix FAB content not collapsing
  packages/app/components/Fab/Fab.tsx
  packages/app/components/Fab/FabNative.tsx
  packages/app/modules/dashboard/components/QuickActionSection/QuickActionSection.tsx
Labels: tests-failure❤️

#1206 Style changes
  packages/app/components/carousel/index.tsx
  packages/app/modules/dashboard/components/HeroSection/HeroSection.tsx
  packages/app/modules/pack/components/AddPackForm.tsx
  packages/ui/src/Bento/elements/tables/Basic.tsx
Labels: tests-failure❤️

#1205 Fix vectorize issues
  server/wrangler.toml.example
Labels: tests-failure❤️, api

#1208 Fix double splash screen
  apps/expo/app.json
  apps/expo/assets/splash.png
  apps/expo/translucent-default-splash-screen-config.js
Labels: tests-failure❤️, frontend, client, expo
