Repository PackRat-AI/PackRat, pull requests merged in 2024-07, with the labels that each got.

#1052 Remove copy pack button from trip
  packages/app/components/card/CustomCardHeader.tsx
Labels: tests-failure❤️

#1060 fix [1054] search feature in pack not working as expected
  server/src/drizzle/methods/Item.ts
Labels: tests-failure❤️, backend, api, feature

#1045 Add paginated bento table to itemstable
  packages/app/components/itemtable/itemTable.tsx
  packages/app/components/paginationChooseLimit/index.tsx
  packages/app/screens/items/index.tsx
  packages/ui/src/Bento/elements/tables/PaginatedSortedTable.tsx
  packages/ui/src/Bento/elements/tables/index.tsx
Labels: tests-failure❤️

#1063 Add unit to table
  packages/ui/src/Bento/elements/tables/PaginatedSortedTable.tsx
Labels: tests-failure❤️

#1062 fix done
  packages/app/auth/hooks/useUser.ts
  packages/app/hooks/user/useProfileSettings.ts
  packages/app/hooks/user/useUpdateUser.ts
  packages/app/screens/user/Settings.tsx
Labels: tests-failure❤️

#1066 Feat/privacy policy
  apps/vite/src/routeTree.gen.ts
  apps/vite/src/routes/privacy/index.lazy.tsx
  packages/app/hooks/about/useAbout.js
  packages/app/screens/about/AboutContent.tsx
  packages/app/screens/about/about.style.tsx
  packages/app/screens/privacy/PrivacyContent.tsx
  packages/app/screens/privacy/index.tsx
  packages/app/screens/privacy/privacy.style.tsx
Labels: tests-failure❤️, frontend, client, vite

#1065 Fix trip activity description
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
Labels: tests-failure❤️

#1067 Clear search after select
  packages/app/components/SearchInput/useSearchInput.ts
Labels: tests-skipped❤️

#1072 FIx mobile app crash
  packages/app/auth/AuthWrapper.tsx
Labels: tests-failure❤️

#1077 changes in size
  packages/app/components/landing_page/index.tsx
  packages/app/components/landing_page/landingpage.style.tsx
Labels: tests-failure❤️

#1074 Fix/weather issue
  packages/app/components/destination/index.tsx
  packages/app/components/weather/WeatherCard.tsx
  packages/app/components/weather/WeatherData.tsx
  packages/app/hooks/destination/useCurrentDestination.ts
  packages/app/hooks/parks/index.ts
  packages/app/hooks/singletrips/useTripWeather.ts
  packages/app/hooks/trails/index.ts
  packages/app/hooks/trips/useCreateTripForm.ts
  packages/app/hooks/weather/index.ts
  packages/app/hooks/weather/useFetchWeather.ts
  packages/app/hooks/weather/useFetchWeatherWeek.ts
  packages/app/screens/trip/TripDetails.tsx
  packages/app/screens/trip/createTrip.tsx
  packages/app/screens/trip/useTripsData.ts
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
  server/src/controllers/weather/getWeatherWeek.ts
  server/src/controllers/weather/index.ts
  server/src/routes/trpcRouter.ts
  server/src/services/trip/addTripService.ts
  server/src/services/weather/getWeatherWeekService.ts
Labels: tests-failure❤️, frontend, backend, client, expo, api

#1081 replace default unauthorized route path
  packages/app/auth/AuthWrapper.tsx
Labels: tests-failure❤️

#1082 remove name attribute from stack component to fix native app crash
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/about/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/appearance/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/destination/[destinationId].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack/create.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/packs/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/profile/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/profile/settings/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trip/[tripId].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trip/create.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trips/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
  apps/expo/app/(auth)/password-reset.tsx
Labels: tests-failure❤️, client, expo

#1085 Fix pack / trip visibility toggle
  packages/app/components/user/UserDataCard.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/hooks/packs/useEditPack.ts
  packages/app/hooks/trips/useEditTrips.ts
  packages/validations/src/validations/tripRoutesValidator/tripRoutesValidator.ts
Labels: tests-failure❤️, tests-skipped❤️

#1089 Fix contrast ratio
  packages/app/components/landing_page/landingpage.style.tsx
Labels: tests-failure❤️

#1092 fix login redirect issue
  packages/app/auth/hooks/useUser.ts
Labels: tests-failure❤️

#1094 Fix pack favorites
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/user/UserDataCard.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/hooks/favorites/useAddFavorite.ts
Labels: tests-failure❤️

#1091 Fix dropdown on web
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
  packages/app/hooks/packs/useAddNewPack.ts
  packages/ui/src/Dropdown.tsx
  packages/ui/src/RSelect/index.tsx
  packages/ui/src/ZDropdown/index.tsx
Labels: tests-failure❤️

#1095 Feat/improve monitoring
  apps/bun-server/package.json
  package.json
  packages/cli/src/start.js
  server/src/index.ts
  server/src/routes/healthRoutes.ts
  server/src/routes/index.ts
  server/wrangler.toml.example
Labels: tests-failure❤️, root, backend, AnyChange, client, api

#1099 🗑️ moving old node js specific code into bun server for now
  apps/bun-server/src/models/dbConnection.ts
  apps/bun-server/src/models/geojsonModel.ts
  apps/bun-server/src/models/itemCategory.ts
  apps/bun-server/src/models/itemModel.ts
  apps/bun-server/src/models/openai/conversationModel.ts
  apps/bun-server/src/models/osm/nodeModel.ts
  apps/bun-server/src/models/osm/relationModel.ts
  apps/bun-server/src/models/osm/wayModel.ts
  apps/bun-server/src/models/packModel.ts
  apps/bun-server/src/models/templateModel.ts
  apps/bun-server/src/models/tripModel.ts
  apps/bun-server/src/models/userModel.ts
  apps/bun-server/src/workers/createPiscina.ts
  apps/bun-server/src/workers/mockWorker.ts
  apps/bun-server/src/workers/osmWorker.ts
  apps/bun-server/src/workers/worker.ts
  server/src/migrations/20230731042113-addUsernameToExistingUsers.js
Labels: tests-failure❤️, frontend, backend, client, api

#1098 ⚡️ boilerplate to add cloudflare queues
  server/package.json
  server/src/index.ts
  server/src/queue/index.ts
  server/wrangler.toml.example
  yarn.lock
Labels: tests-failure❤️, root, backend, AnyChange, api

#1101 ⚡️ enable logpush for better monitoring
  server/wrangler.toml.example
Labels: api

#1106 🚨 fix error 'React' must be in scope when using JSX react/react-in-…
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/about/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/appearance/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/destination/[destinationId].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/items/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/map/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/maps/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/pack/create.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/packs/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/profile/[id].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/profile/settings/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trip/[tripId].tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trip/create.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trips/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/_layout.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/profile/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
  apps/expo/app/(app)/(drawer)/_layout.tsx
  apps/expo/app/(app)/_layout.tsx
  apps/expo/app/(app)/modal.tsx
  apps/expo/app/(auth)/_layout.tsx
  apps/expo/app/(auth)/password-reset.tsx
  apps/expo/app/(auth)/register.tsx
  apps/expo/app/(auth)/sign-in.tsx
  apps/expo/app/_layout.tsx
Labels: tests-failure❤️, client, expo

#1105 Fix content label issues on native
  packages/ui/src/Bento/forms/layouts/SignInScreen.tsx
  packages/ui/src/form/lib/rhf/LmInputRhf.tsx
  packages/validations/src/validations/userRoutesValidator.ts
Labels: tests-failure❤️

#1097 Fix alignment and placeholder in dropdown in packdetails
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/RSelect/index.tsx
Labels: tests-failure❤️

#1107 🚨 fix react in scope error on lint
  apps/tauri/src/App.tsx
  apps/tauri/src/routes/__root.tsx
  apps/tauri/src/routes/about/index.lazy.tsx
  apps/tauri/src/routes/appearance/index.lazy.tsx
  apps/tauri/src/routes/dashboard/index.lazy.tsx
  apps/tauri/src/routes/destination/query.lazy.tsx
  apps/tauri/src/routes/feed/index.lazy.tsx
  apps/tauri/src/routes/index.tsx
  apps/tauri/src/routes/items/index.lazy.tsx
  apps/tauri/src/routes/map/index.lazy.tsx
  apps/tauri/src/routes/maps/index.lazy.tsx
  apps/tauri/src/routes/password-reset/index.lazy.tsx
  apps/tauri/src/routes/profile/$id.lazy.tsx
  apps/tauri/src/routes/profile/index.lazy.tsx
  apps/tauri/src/routes/profile/settings/index.lazy.tsx
  apps/tauri/src/routes/trip/$tripId.lazy.tsx
  apps/tauri/src/routes/trip/create.lazy.tsx
  apps/tauri/src/routes/trips/index.lazy.tsx
  apps/vite/src/App.tsx
  apps/vite/src/routes/__root.tsx
  apps/vite/src/routes/about/index.lazy.tsx
  apps/vite/src/routes/appearance/index.lazy.tsx
  apps/vite/src/routes/dashboard/index.lazy.tsx
  apps/vite/src/routes/destination/query.lazy.tsx
  apps/vite/src/routes/feed/index.lazy.tsx
  apps/vite/src/routes/items/index.lazy.tsx
  apps/vite/src/routes/map/index.lazy.tsx
  apps/vite/src/routes/maps/index.lazy.tsx
  apps/vite/src/routes/password-reset/index.lazy.tsx
  apps/vite/src/routes/profile/$id.lazy.tsx
  apps/vite/src/routes/profile/index.lazy.tsx
  apps/vite/src/routes/profile/settings/index.lazy.tsx
  apps/vite/src/routes/trip/$tripId.lazy.tsx
  apps/vite/src/routes/trip/create.lazy.tsx
  apps/vite/src/routes/trips/index.lazy.tsx
Labels: tests-failure❤️, client, vite

#1108 fix profile screen crash
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/profile/[id].tsx
  apps/vite/src/App.tsx
  packages/app/components/user/UserDataCard.tsx
Labels: tests-failure❤️, client, expo, vite

#1102 Fix chat icon visibility on native
  packages/app/components/Suggestion/SuggestionDescription.tsx
  packages/app/components/Suggestion/SuggestionList.tsx
  packages/app/components/chat/chat.style.tsx
  packages/app/components/chat/index.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/ui/src/Bento/elements/list/ChatList.tsx
Labels: tests-failure❤️, client, vite

#1110 Fix double splash screen
  apps/expo/app.json
Labels: tests-failure❤️, tests-skipped❤️, client, expo

#1090 Fix offline map crash, bounds structure change
  packages/app/components/map/Map.native.tsx
  packages/app/components/map/Map.tsx
  packages/app/components/map/index.tsx
  packages/app/components/map/models.ts
  packages/app/screens/maps/index.tsx
Labels: tests-failure❤️, tests-skipped❤️

#1112 Enhance dropdown
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/RSelect/index.tsx
Labels: tests-failure❤️

#1113 disable trips related stuff for short term
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/hoc/disableScreen.tsx
  packages/app/hooks/navigation/useNavigationList.ts
  packages/app/screens/feed/Feed.tsx
  packages/app/screens/trip/createTrip.tsx
  packages/app/screens/user/ProfileContainer.tsx
Labels: tests-failure❤️

#1031 theme state on reload fix
  package.json
  packages/app/context/theme.tsx
  packages/app/hooks/appearance/useAppearance.js
  packages/app/hooks/appearance/useAppearance.ts
  packages/app/hooks/storage/useStorageState.ts
  yarn.lock
Labels: tests-failure❤️, root, AnyChange

#1117 ⚡️ add automated deploys for backend
  .github/workflows/backend.yml
Labels: github

#1115 Server: save downloaded map in user profile
  packages/validations/src/validations/userRoutesValidator.ts
  server/migrations/0003_reflective_mimic.sql
  server/migrations/meta/0003_snapshot.json
  server/migrations/meta/_journal.json
  server/src/controllers/auth/emailExists.ts
  server/src/controllers/getOsm/getPhotonResults.ts
  server/src/controllers/item/addGlobalItemToPack.ts
  server/src/controllers/item/addItemGlobal.ts
  server/src/controllers/item/searchItemsByName.ts
  server/src/controllers/pack/index.ts
  server/src/controllers/passport/signInGoogle.ts
  server/src/controllers/user/editUser.ts
  server/src/controllers/user/getMe.ts
  server/src/controllers/user/sentEmail.ts
  server/src/db/schema.ts
  server/src/index.ts
  server/src/integrations/ai/client.ts
  server/src/middleware/checkRole.ts
  server/src/middleware/validators/userRoutesValidator.ts
  server/src/queue/client.ts
  server/src/queue/index.ts
  server/src/services/item/addItemService.ts
  server/src/services/item/getSimilarItemsService.ts
  server/src/services/pack/getPublicPacksService.ts
  server/src/services/pack/getSimilarPacksService.ts
  server/src/services/user/emailExistsService.ts
  server/src/tests/routes/pack.spec.ts
  server/src/vector/client.ts
Labels: backend, api

#1043 feed styling
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/feed/SearchProvider.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/hooks/useForwardFocus.tsx
  packages/app/screens/feed/Feed.tsx
  packages/ui/src/form/components/InputWithIcon.tsx
  packages/ui/src/form/components/inputsParts.tsx
  packages/ui/src/form/index.ts
Labels: tests-failure❤️

#1114 Fix native map download
  packages/app/components/card/LargeCard.tsx
  packages/app/components/destination/index.tsx
  packages/app/components/map/Map.native.tsx
  packages/app/components/map/MapPreview.tsx
  packages/app/components/map/models.ts
  packages/app/hooks/user/useUpdateUser.ts
  packages/app/screens/maps/index.tsx
  packages/ui/src/RButton/index.tsx
Labels: tests-failure❤️, test, backend, api

#1125 Fix profile setting screen on small device
  packages/app/screens/user/Settings.tsx
Labels: tests-failure❤️

#1131 Fix playwright installation
  .github/workflows/playwright.yml
Labels: tests-failure❤️, github

#1134 Fixing
  packages/app/components/pack/AddPack.tsx
  packages/app/components/user/UserDataCard.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/hooks/favorites/useAddFavorite.ts
  packages/app/hooks/packs/useAddNewPack.ts
  server/src/controllers/pack/getPacks.ts
  server/src/drizzle/methods/pack.ts
  server/src/services/pack/getPackService.ts
Labels: tests-failure❤️, backend, api

#1116 Items page table improvement
  packages/app/components/itemtable/itemTable.tsx
  packages/app/screens/items/index.tsx
Labels: tests-failure❤️, client, expo

#1136 🐛 cleanup to fix errors on github
  .github/workflows/node.js.dev.yml
Labels: tests-failure❤️, github

#1137 🐛 hide import() syntax error
  server/.eslintrc.js
Labels: tests-failure❤️, backend, api

#1129 Fix profile UI broken on Native
  packages/app/components/feed/FeedSearchFilter.tsx
Labels: tests-failure❤️, client

#1139 Fix validation hot reloading on native and server apps
  apps/expo/metro.config.js
  apps/expo/tsconfig.json
  server/tsconfig.json
Labels: tests-failure❤️, frontend, client, expo, api

#1127 Import Items for packs and global items
  packages/app/components/item/ImportForm.tsx
  packages/app/components/item/ImportItem.tsx
  packages/app/components/item/ImportItemGlobal.tsx
  packages/app/components/pack/ImportItemModal.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/components/pack_table/Table.tsx
  packages/app/hooks/items/useImportItem.ts
  packages/app/hooks/packs/useImportPackItem.ts
  packages/app/package.json
  packages/app/screens/items/index.tsx
  packages/ui/src/Dropdown.tsx
  packages/validations/src/validations/itemRoutesValidator.ts
  server/src/controllers/item/importItems.ts
  server/src/controllers/item/importItemsGlobal.ts
  server/src/controllers/item/index.ts
  server/src/routes/trpcRouter.ts
  yarn.lock
Labels: tests-failure❤️, frontend, root, backend, AnyChange, client, vite, api

#1144 disable some features in short term
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/hooks/dashboard/useQuickActions.ts
  packages/ui/src/Bento/forms/layouts/SignInScreen.tsx
  packages/ui/src/Bento/forms/layouts/SignUpScreen.tsx
Labels: tests-failure❤️, feature

#1146 Update/http routes
  packages/app/components/item/ImportForm.tsx
  packages/app/components/pack/PackDetails.tsx
  server/src/controllers/item/addItem.ts
  server/src/controllers/item/addItemGlobal.ts
  server/src/controllers/item/deleteGlobalItem.ts
  server/src/controllers/item/deleteItem.ts
  server/src/controllers/item/editGlobalItemAsDuplicate.ts
  server/src/controllers/item/editItem.ts
  server/src/controllers/item/getSimilarItems.ts
  server/src/controllers/item/importItems.ts
  server/src/controllers/item/importItemsGlobal.ts
  server/src/controllers/pack/addPack.ts
  server/src/controllers/pack/deletePack.ts
  server/src/controllers/pack/duplicatePublicPack.ts
  server/src/controllers/pack/editPack.ts
  server/src/controllers/pack/getSimilarPacks.ts
  server/src/controllers/user/getUserById.ts
  server/src/routes/itemRoutes.ts
  server/src/routes/packRoutes.ts
Labels: tests-failure❤️, backend, api

#1145 hide chat and fix ui breaks
  packages/app/components/card/CustomCard.tsx
  packages/app/components/details/index.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/item/ImportForm.tsx
  packages/app/components/item/ItemForm.tsx
  packages/app/components/itemtable/itemTable.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/screens/feed/Feed.tsx
  packages/app/screens/items/index.tsx
  packages/crosspath/src/adapters/solito/components/Link.tsx
  packages/crosspath/src/adapters/solito/index.ts
  packages/crosspath/src/adapters/tanstack/components/Link.tsx
  packages/crosspath/src/lib-interface.ts
  packages/ui/src/Bento/elements/tables/PaginatedSortedTable.tsx
Labels: tests-failure❤️

#1149 disable maps in short term
  packages/app/components/destination/index.tsx
  packages/app/hooks/navigation/useNavigationList.ts
  packages/app/screens/maps/index.tsx
Labels: tests-failure❤️

#1150 cleaning up playwright tests
  packages/playwright/tests/About.spec.js
  packages/playwright/tests/Search.spec.js
  packages/playwright/tests/add-items.spec.js
  packages/playwright/tests/create-trip.spec.js
  packages/playwright/tests/example.spec.ts
  packages/playwright/tests/pack.spec.js
  packages/playwright/tests/packs.spec.js
  packages/playwright/tests/profile.spec.js
Labels: tests-failure❤️, test
