Repository PackRat-AI/PackRat, pull requests merged in 2024-06, with the labels that each got.

#937 onClose implementation in copy pack modal
  packages/app/components/card/CustomCardHeader.tsx
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/pack/CopyPackModal.tsx
  packages/ui/src/EditableText/useEditableText.ts
  packages/ui/src/ZDropdown/index.tsx
Labels: tests-failure❤️

#974 Add spiner and splash packrat logo
  apps/expo/app.json
  packages/app/auth/AuthWrapper.tsx
  packages/app/components/landing_page/index.tsx
  packages/app/components/landing_page/landingpage.style.tsx
Labels: tests-failure❤️, client, expo

#980 Feat/chat UI improvement ab
  apps/vite/src/routes/__root.tsx
  packages/app/assets/packrat_message_icon.svg
  packages/app/components/chat/chat.style.tsx
  packages/app/components/chat/index.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/constants/api.ts
  packages/app/package.json
  packages/ui/src/Bento/elements/list/ChatList.tsx
  server/package.json
  server/src/services/openAi/getAIResponseService.ts
  server/src/services/openAi/langchain/destinationAdvice.ts
  server/src/services/openAi/langchain/index.ts
  yarn.lock
Labels: tests-failure❤️, tests-skipped❤️, root, backend, AnyChange, client, vite, api

#983 Change width according to screen size
  packages/app/components/dashboard/HeroBanner.tsx
  packages/app/components/dashboard/QuickActionButton.tsx
  packages/app/components/dashboard/QuickActionSection.tsx
  packages/app/components/dashboard/Section.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
Labels: tests-failure❤️

#982 Global items edit and delete removal
  packages/app/components/itemtable/itemTable.tsx
Labels: tests-failure❤️

#976 changes in usePagination
  packages/app/components/Loader.tsx
  packages/app/hooks/common/usePagination.ts
Labels: tests-failure❤️

#979 🐛 add env values for tests
  .github/workflows/tests.yml
  server/src/controllers/getOsm/getEnhancedPhotonDetails.ts
  server/src/tests/routes/favorite.test.ts
  server/src/tests/routes/pack.test.ts
  server/src/tests/routes/template.test.ts
  server/src/tests/routes/trip.test.ts
  server/src/tests/routes/user.test.ts
Labels: tests-failure❤️, github, test, backend, api

#987 🎨 linting
  packages/app/components/Loader.tsx
  packages/app/components/ScoreContainer.tsx
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/carousel/index.tsx
  packages/app/components/dashboard/HeroBanner.tsx
  packages/app/components/dashboard/QuickActionButton.tsx
  packages/app/components/dashboard/QuickActionSection.tsx
  packages/app/components/dashboard/Section.tsx
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/itemtable/itemTable.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/pack/PackContainer.tsx
  packages/app/components/pack_table/Table.tsx
  packages/app/components/paginationChooseLimit/index.tsx
  packages/app/components/trip/TripCards/TripDateRangeCard.tsx
  packages/app/components/trip/TripCards/TripSearchCard.tsx
  packages/app/hooks/common/usePagination.ts
  packages/app/screens/items/index.tsx
  packages/ui/src/Bento/elements/tables/Basic.tsx
  packages/ui/src/ZDropdown/index.tsx
Labels: tests-failure❤️

#990 Remove actions column in table for other users
  packages/ui/src/Bento/elements/tables/Basic.tsx
Labels: tests-failure❤️

#992 Modify condition on search input visibility
  packages/app/components/card/CustomCard.tsx
Labels: tests-failure❤️

#991 Margin adjustment for menu on mobile web
  packages/app/components/navigation/Drawer.tsx
  packages/app/components/navigation/NavigationList.tsx
Labels: tests-failure❤️

#998 Modify conditon on add to favorite button
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
Labels: tests-failure❤️

#1000 Sort name and alignment changes
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/map/MapButtonsOverlay.tsx
Labels: tests-failure❤️

#1003 Replace RButton.Group to RStack
  packages/app/components/map/NativeMap.native.tsx
Labels: tests-failure❤️

#993 homepage improvements
  packages/app/components/carousel/index.tsx
  packages/app/components/dashboard/QuickActionButton.tsx
  packages/app/components/dashboard/Section.tsx
  packages/app/components/dashboard/feedpreview.style.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/navigation/Navbar/Navbar.tsx
  packages/app/screens/dashboard/index.tsx
  packages/crosspath/types/lib-interface.d.ts
  packages/crosspath/types/model/types.d.ts
Labels: tests-failure❤️

#1011 Fix/merge issue 970
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/card/PackCardHeader/usePackTitleInput.ts
  packages/app/components/pack/PackDetails.tsx
  packages/app/hooks/packs/useDeletePack.ts
  packages/app/screens/user/Settings.tsx
  packages/ui/src/RSelect/index.tsx
  packages/ui/src/ThreeDotsMenu/ThreeDotsMenu.tsx
  packages/ui/src/dialog/BaseDialog.tsx
Labels: tests-failure❤️

#1004 Use tamagui media for responsiveness
  packages/app/components/ScoreContainer.tsx
  packages/app/components/card/CustomCard.tsx
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/carousel/index.tsx
  packages/app/components/dashboard/FeedPreview.tsx
  packages/app/components/dashboard/HeroBanner.tsx
  packages/app/components/dashboard/QuickActionButton.tsx
  packages/app/components/dashboard/QuickActionSection.tsx
  packages/app/components/dashboard/Section.tsx
  packages/app/components/dashboard/feedpreview.style.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/itemtable/itemTable.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/pack/PackContainer.tsx
  packages/app/components/paginationChooseLimit/index.tsx
  packages/app/components/trip/TripCards/TripSearchCard.tsx
  packages/app/hooks/useResponsive.tsx
  packages/app/screens/items/index.tsx
  packages/ui/src/tamagui.config.ts
Labels: tests-failure❤️

#1013 ⚡️ initial commit to add jewel's playwright tests
  .github/workflows/playwright.yml
  apps/expo/package.json
  apps/next/package.json
  packages/app/package.json
  packages/playwright/.gitignore
  packages/playwright/package.json
  packages/playwright/playwright.config.ts
  packages/playwright/tests/About.spec.js
  packages/playwright/tests/Search.spec.js
  packages/playwright/tests/add-item.spec.js
  packages/playwright/tests/add-items.spec.js
  packages/playwright/tests/create-trip.spec.js
  packages/playwright/tests/example.spec.ts
  packages/playwright/tests/pack-create.spec.js
  packages/playwright/tests/pack.spec.js
  packages/playwright/tests/packs.spec.js
  packages/playwright/tests/profile.spec.js
  packages/playwright/tests/sign-in.spec.js
  packages/validations/package.json
  server/package.json
  yarn.lock
Labels: tests-failure❤️, github, root, test, AnyChange, client, expo, next, api

#1010 Use context menu instead to threedotsMenu
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
  packages/ui/src/RContextMenu/index.tsx
  packages/ui/src/index.tsx
Labels: tests-failure❤️

#1016 ⚡️ enhance error boundary component
  packages/app/components/trip/TripCards/TripMapCard.tsx
  packages/app/package.json
  packages/ui/package.json
  packages/ui/src/ErrorBoundary/index.ts
  packages/ui/src/ErrorBoundary/index.tsx
  yarn.lock
Labels: root, AnyChange

#1019 changes in styling
  packages/app/components/destination/index.tsx
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/layout/Layout.tsx
  packages/app/components/user/UserDataContainer.tsx
  packages/app/components/user/UserDetailList.tsx
  packages/app/screens/trip/TripDetails.tsx
  packages/app/screens/user/ProfileContainer.tsx
Labels: tests-failure❤️

#1015 Add back feature
  packages/app/screens/user/Settings.tsx
Labels: tests-failure❤️, release, feature

#1023 layout changes
  packages/app/components/feed/FeedCard.tsx
  packages/app/components/layout/Layout.tsx
Labels: tests-failure❤️

#1025 Correct props for searchfilter
  packages/app/components/user/UserDataCard.tsx
  packages/app/components/user/UserDetailList.tsx
  packages/app/utils/formatNumber.ts
Labels: tests-failure❤️

#1026 🐛 fix styles on native
  packages/app/components/feed/FeedCard.tsx
  packages/app/screens/trip/createTrip.tsx
Labels: tests-failure❤️

#1017 🐛 debugging native map crash on certain geojson structures - WIP
  packages/app/components/map/NativeMap.native.tsx
  packages/app/hooks/map/useNativeMap.ts
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️

#1030 Replace touchableopacity with view
  packages/app/components/dashboard/QuickActionSection.tsx
  packages/app/components/dashboard/Section.tsx
Labels: tests-failure❤️

#1007 Login and Signup UI Changed
  packages/app/constants/api.ts
  packages/app/screens/LoginScreen.tsx
  packages/app/screens/RegisterScreen.tsx
  packages/ui/src/Bento/forms/layouts/SignInScreen.tsx
  packages/ui/src/Bento/forms/layouts/SignUpScreen.tsx
Labels: tests-failure❤️

#1009 Feat/native date picker
  .gitignore
  packages/app/components/pack/AddPack.tsx
  packages/app/components/trip/TripCards/TripDateRangeCard.tsx
  packages/crosspath/.gitignore
  packages/crosspath/types/lib-interface.d.ts
  packages/crosspath/types/model/index.d.ts
  packages/crosspath/types/model/types.d.ts
  packages/ui/package.json
  packages/ui/src/DateRangePicker/DateRangePicker.native.tsx
  packages/ui/src/DateRangePicker/DateRangePicker.web.ts
  packages/ui/src/DateRangePicker/index.ts
  packages/ui/src/index.tsx
  yarn.lock
Labels: root, AnyChange

#1021 replace sheet to zeego dropdown in RSelect
  packages/app/components/Dropdown.tsx
  packages/app/components/card/CustomCard.tsx
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/card/PackCardHeader/usePackTitleInput.ts
  packages/app/components/chat/index.tsx
  packages/app/components/item/AddItem.tsx
  packages/app/components/item/ItemForm.tsx
  packages/app/components/navigation/NavigationList.tsx
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
  packages/app/hooks/packs/useAddNewPack.ts
  packages/app/screens/items/index.tsx
  packages/ui/src/Bento/elements/tables/Basic.tsx
  packages/ui/src/EditableText/EditableText.tsx
  packages/ui/src/EditableText/useEditableText.ts
  packages/ui/src/RSelect/index.tsx
  packages/ui/src/ZDropdown/index.tsx
  packages/ui/src/form/lib/LmSelect.tsx
  packages/ui/src/form/lib/rhf/LmInputRhf.tsx
  packages/ui/src/index.tsx
Labels: tests-failure❤️, tests-skipped❤️

#1032 Fix app crash when viewing downloaded maps
  packages/app/screens/maps/index.tsx
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️

#1037 move dropdown component to ui
  packages/app/components/card/PackCardHeader/PackCardHeader.tsx
  packages/app/components/feed/FeedSearchFilter.tsx
  packages/app/components/item/ItemForm.tsx
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack/PackContainer.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
  packages/app/components/paginationChooseLimit/index.tsx
  packages/app/screens/items/index.tsx
  packages/ui/src/Dropdown.tsx
  packages/ui/src/index.tsx
Labels: tests-failure❤️

#1027 ⚡️ remove preinstall requirement for yarn, to allow for bun on low me…
  package.json
Labels: tests-failure❤️, root, AnyChange

#1036 Add bento table to global items list
  packages/app/components/itemtable/itemTable.tsx
  packages/app/components/trip/TripCards/TripSearchCard.tsx
Labels: tests-failure❤️

#1041 Wrap details component with view
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack/PackContainer.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
Labels: tests-failure❤️, tests-skipped❤️

#1040 fix undefined user name header on profile
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/profile/[id].tsx
  packages/app/screens/user/ProfileContainer.tsx
Labels: tests-failure❤️, tests-skipped❤️, client, expo

#1038 Feat/UI library
  packages/app/constants/api.ts
  packages/app/screens/appearance/AppearanceContainer.tsx
  packages/app/screens/appearance/AppearanceLayout/AppearanceLayout.native.tsx
  packages/app/screens/appearance/AppearanceLayout/AppearanceLayout.tsx
  packages/app/screens/appearance/AppearanceLayout/index.ts
  packages/app/screens/appearance/DemoCard.tsx
  packages/app/screens/appearance/ThemeSwitch.tsx
  packages/app/screens/appearance/appearance.style.tsx
  packages/app/screens/appearance/components/AppearanceMobileMenu/AppearanceMobileMenu.tsx
  packages/app/screens/appearance/components/AppearanceMobileMenu/index.ts
  packages/app/screens/appearance/components/NavigationList/NavigationList.tsx
  packages/app/screens/appearance/components/NavigationList/index.ts
  packages/app/screens/appearance/kitchen-sink/elements/button/Button.tsx
  packages/app/screens/appearance/kitchen-sink/elements/button/index.ts
  packages/app/screens/appearance/kitchen-sink/elements/icon/Icon.tsx
  packages/app/screens/appearance/kitchen-sink/elements/icon/index.ts
  packages/app/screens/appearance/kitchen-sink/elements/index.ts
  packages/app/screens/appearance/kitchen-sink/form/index.ts
  packages/app/screens/appearance/kitchen-sink/form/input/Input.tsx
  packages/app/screens/appearance/kitchen-sink/form/input/index.ts
  packages/app/screens/appearance/kitchen-sink/index.ts
  packages/app/screens/appearance/useAppearance.tsx
Labels: tests-failure❤️

#1046 Fix offline maps screen not scrolling on native app
  packages/app/screens/maps/index.tsx
Labels: tests-failure❤️

#1047 fix map error
  packages/app/components/map/NativeMap.native.tsx
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️

#1044 resize buttons
  packages/app/components/pack/AddPack.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/components/pack_table/TableHelperComponents.tsx
  packages/ui/src/tamagui.config.ts
Labels: tests-failure❤️

#1050 Revert "Enhance/chat"
  package.json
  packages/app/components/Suggestion/SuggestionDescription.tsx
  packages/app/components/Suggestion/SuggestionList.tsx
  packages/app/components/Suggestion/index.ts
  packages/app/components/chat/ActionItem.tsx
  packages/app/components/chat/chat.style.tsx
  packages/app/components/chat/index.tsx
  packages/app/components/pack/PackDetails.tsx
  packages/app/hooks/chat/useChat.ts
  packages/app/hooks/chat/useGetAIResponse.ts
  packages/app/package.json
  packages/ui/src/Bento/elements/list/ChatList.tsx
  packages/ui/src/ThreeDotsMenu/ThreeDotsMenu.tsx
  server/package.json
  server/src/controllers/openAi/getAIResponse.ts
  server/src/controllers/openAi/getAISuggestions.ts
  server/src/controllers/openAi/index.ts
  server/src/routes/trpcRouter.ts
  server/src/services/openAi/getAIResponseService.ts
  server/src/services/openAi/getAISuggestionService.ts
  server/src/services/openAi/langchain/index.ts
  server/src/services/openAi/openAi.service.ts
  server/src/services/openAi/referredItemInformation/index.ts
  server/src/services/openAi/zodSchema.ts
  server/src/services/pack/getPackByIdService.ts
  yarn.lock
Labels: root, backend, AnyChange, api

#1048 Modify isShapeDownlodable
  packages/app/utils/mapFunctions.ts
Labels: tests-failure❤️

#1051 Fix/auth
  apps/vite/src/routes/index.tsx
  packages/app/auth/AuthLoader.tsx
  packages/app/auth/AuthWrapper.tsx
  packages/app/auth/hooks/useGetMe.ts
  packages/app/auth/hooks/useUser.ts
  packages/app/auth/hooks/useUserSetter.ts
  packages/app/components/navigation/NavigationList.tsx
  packages/app/config/trpcAxiosClient.ts
  packages/app/hooks/storage/useStorage.ts
  packages/app/provider/TrpcTanstackProvider/index.tsx
  packages/app/trpc.ts
  server/src/trpc/utils/auth.ts
Labels: tests-failure❤️, backend, client, vite, api
