Repository PackRat-AI/PackRat, pull requests merged in 2025-01, with the labels that each got.

#1399 fix ios utlitites
  apps/expo/package.json
  yarn.lock
Labels: tests-failure❤️, root, AnyChange, client, expo

#1402 Fix calender alignment
  packages/app/screens/about/about.style.tsx
  packages/ui/src/Bento/elements/datepickers/RangePicker.tsx
Labels: tests-failure❤️

#1400 Enhance search input
  apps/expo/app/(app)/(drawer)/(tabs)/search.tsx
  packages/app/components/PlacesAutocomplete/PlacesAutocomplete.tsx
  packages/app/components/SearchInput/SearchInput.tsx
Labels: tests-failure❤️, client, expo

#1405 Fix Import Notified ETL Error
  server/src/controllers/item/importNotifiedETL.ts
Labels: tests-failure❤️, backend, api

#1404 Fix activity options and pack details on create trip
  packages/app/components/GearList/GearList.tsx
  packages/ui/src/form/lib/LmSelect.tsx
Labels: tests-failure❤️

#1406 fix settings screen
  packages/app/modules/user/screens/SettingsScreen.tsx
Labels: tests-failure❤️

#1408 Fix pack sort chip size on profile
  packages/app/components/FilterBadge.tsx
  packages/app/components/GearList/GearList.tsx
Labels: tests-failure❤️

#1407 fix trips duplicates
  packages/app/hooks/trips/useAddTrip.ts
  packages/app/hooks/trips/useDeleteTrips.ts
  packages/app/screens/trip/TripScreen.tsx
Labels: tests-failure❤️

#1411 bring back dashboard search
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/maps/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/products/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/(stack)/trips/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/feed/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/index/index.tsx
  apps/expo/app/(app)/(drawer)/(tabs)/packs/index.tsx
Labels: tests-failure❤️, client, expo

#1412 fix fab closing on native
  packages/app/components/Fab/FabNative.tsx
Labels: tests-failure❤️

#1414 Add toggle theme button
  packages/app/components/settings/index.tsx
Labels: tests-failure❤️

#1415 resolve pack similarity not working
  server/src/vector/client.ts
Labels: backend, api

#1409 upgrade to 51 first
  app.json
  apps/expo/app.config.js
  apps/expo/app.example.json
  apps/expo/app.json
  apps/expo/assets/adaptive-icon.png
  apps/expo/package.json
  apps/next/package.json
  apps/vite/package.json
  package.json
  packages/app/package.json
  packages/ui/package.json
  server/package.json
  yarn.lock
Labels: tests-failure❤️, frontend, root, AnyChange, client, expo, next, vite, api

#1417 Revert "upgrade to 51 first"
  app.json
  apps/expo/app.config.js
  apps/expo/app.example.json
  apps/expo/app.json
  apps/expo/assets/adaptive-icon.png
  apps/expo/package.json
  apps/next/package.json
  apps/vite/package.json
  package.json
  packages/app/package.json
  packages/ui/package.json
  server/package.json
  yarn.lock
Labels: frontend, root, AnyChange, client, expo, next, vite, api

#1416 Fix invalid bucked retrieved from (scrapyd) notification endpoint
  packages/validations/src/validations/itemRoutesValidator.ts
  server/src/controllers/item/importNotifiedETL.ts
  server/src/routes/itemRoutes.ts
Labels: tests-failure❤️, backend, api

#1418 fix import from csv
  packages/app/modules/item/components/ImportForm.tsx
  server/src/controllers/item/importItemsGlobal.ts
  server/src/services/item/addItemGlobalService.ts
  server/src/utils/itemCategory.ts
Labels: backend, api

#1419 upgrade actions/upload-artifact to v4
  .github/workflows/eas-local.yml
  .github/workflows/tauri-build.yml
Labels: tests-failure❤️, github
